/*Common App CSS*/
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Mrs+Sheppards&family=Sedgwick+Ave+Display&family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Bungee+Shade&family=Eczar:wght@600&family=Mrs+Sheppards&family=Roboto+Slab&family=Sedgwick+Ave+Display&family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Bungee+Shade&family=Eczar:wght@600&family=Mrs+Sheppards&family=Sedgwick+Ave+Display&family=Titan+One&display=swap');

a,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  border: none;
  outline: none;
  background: none;
  text-decoration: none;
}
hr{
  margin-top: -1px;
  border:2px dotted var(--main-color-harrypotter);
  border-radius: 3px;
  color:var(--main-color-harrypotter);
  background:var(--main-color-harrypotter);
  height:1px;  
  width: 74%;
}
hr.hline_color {
  background:#c3004844;
  height:2px;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #e6e6e6;
  box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.12);
}

.container {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 5px;
}

.openmenu {
  border: none;
  outline: none;
  background: none;
}

.closemenu {
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  border: none;
  outline: none;
  background: none;
}
.hamburger-icon{
  margin: 8px,6px;
  width: 58px;
  height: 58px;;
}

.title {
  font-family: inherit;
  line-height: inherit;
  text-transform: capitalize;
  text-rendering: optimizeLegibility;
}
.title-large {
  font-size: 2.25rem;
  font-weight: 700;
  color: var(--main-color-harrypotter);
}

.subtitle {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 700;
  line-height: inherit;
  margin: 0;
  color: var(--main-color-harrypotter);
  text-transform: capitalize;
  text-rendering: optimizeLegibility;
}
.title-top-container{
  margin: 24px;
  margin-left:6px;
  padding: 0;
  color: var(--main-color-harrypotter);
  font-family: 'Roboto Slab', serif;
  font-size: 17px;
  font-weight: bolder;
}
.icon-top-container{
  width: 30px;
  height: 30px;
  margin-left: 0px;
}

.navmenu {
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
}

.navmodal {
  position: absolute;
  margin-top: 150px;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 40%;
  overflow-y: auto;
  overflow-x: hidden;
  border: none;
  outline: none;
  transform: translateY(-1600px);
  transition: transform 0.5s ease-in-out;
  border-radius: 30px;
  font-family: 'Roboto Slab', serif;
  color: var(--main-color-harrypotter);
}
.navmodal.active {
  position: fixed;
  overflow-y: scroll;
  transform: translateY(0);
}
.navmodal-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row wrap;
  align-items: flex-start;
  width: 100%;
  min-height: auto;
  padding: 5px;
}
@media only screen and (max-width: 768px) {
  .navmodal-wrapper {
    padding: 5px;
  }
  .navmodal{
    height: 70%;
  }
}
.navmodal-wrapper .column {
  flex: auto;
  flex-basis: 25%;
  width: 50px;
  height: auto;
}

.navmodal-wrapper .column .menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  list-style:none;
}
.navmodal-wrapper .column .menu-item {
  margin: 0.15rem 0;
}
.navmodal-wrapper .column .menu-link {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  line-height: inherit;  
  color: var(--link-color-harrypotter);  
  text-transform: capitalize;
  text-rendering: optimizeLegibility;
}
 .menu-link:hover {
   text-shadow: 0 0 10px var(--main-color-harrypotter),
              0 0 10px var(--main-color-harrypotter);

}
@media only screen and (max-width: 1024px) {
  .navmodal-wrapper .column {
    flex-basis: 33.33%;
  }
}
@media only screen and (max-width: 768px) {
  .navmodal-wrapper .column {
    flex-basis: 50%;
  }
}
@media only screen and (max-width: 425px) {
  .navmodal-wrapper .column {
    flex-basis: 100%;
  }
}

.header-container{
  margin: 0;
  display: inline-flex;
  justify-content: space-evenly;
    
}

h1 {
    position: relative;
    margin: 0;
    padding:0;
    font-family: 'Eczar', serif;
    font-weight: 100;
    font-size: 46px;
    color: var(--main-color-harrypotter);
}


.search-box {
  width: 100%;
  position: relative;
  display: flex;
}
.search-input {
  font-family: 'Roboto Slab', serif;
  width: 430px;
  height: 19px;
  padding: 10px;
  border: 2.5px solid var(--main-color-harrypotter);
  border-radius: 10px 10px 10px 10px;
  outline: none;
  font-size: 16px;
  color: var(--link-color-harrypotter);
  margin-top: 18px;
  margin-left: 10px;
  
}

.search-input::placeholder{
  color: var(--link-color-harrypotter);
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  font-weight:unset;
}

.search-container {
  width: 18%;
  position: absolute;
  left: 460px;
  top: 39px;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 500px) {
   
  .search-container {
   width: 30%;
   position: absolute;
   left: 300px;
  }
  
  .search-input::placeholder{
   color: var(--link-color-harrypotter);
   font-family: 'Roboto Slab', serif;
   font-size: 14px;
   font-weight: 600;
  }

  .sidebar {
    top: 60%;    
  }
}
.login{
  margin: 10px;
    display: flex;
    float: right;    
    margin-top: 8px;
}
.login-btn-icon{
  background-color: transparent;
  width: 42px;
  cursor:pointer;
}
.home-btn-img{
  background-color: transparent;
  width: 48px;
  cursor:pointer;
}
.top-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
.switch {
  visibility: hidden;
  position: absolute;
}

.switch + label {
  display: block;
  height: 19px;
  width: 50px;
  position: relative;
  background-color: rgba(122, 122, 122, 0.753);
  border-radius: 150px;
  cursor:pointer;
}

.switch + label::before {
  display: block;
  position: absolute;
  content: "";
  left: 1px;
  top: 0px;
  bottom: 10px;
  border-radius: 100%;
  width: 18px;
  height: 18px;
  background-color: #fff;
  box-shadow: 0 3px 5px rgba(0,0,0,0.3);
}

.switch + label, .switch + label::before {
  transition: all 0.4s;
}

.switch:checked + label {
  background-color: var(--main-color-harrypotter);
}

.switch:checked + label::before {
  margin-left: 30px;
}



/*Universes' block's*/

.main-cards-container{
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0;
}

.btn {
  
  font-family: 'Roboto Slab', serif;
  letter-spacing: 1px;
  font-weight:bold;
  font-size: 19px;
  margin: 10px;
  color: var(--main-color-harrypotter);
  
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.card{
  
  border: solid 2.5px var(--main-color-harrypotter);
  border-radius: 35px;
}
.card:hover{
  box-shadow: 0 0 23px var(--main-color-harrypotter),
              0 0 23px var(--main-color-harrypotter);
}
.card_image{
  width: 450px;
  height: 244px;
}

.cards_item {
  display: flex;
  flex-direction: column;
  padding: 1rem;  
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 23.5%;
  }
}

.card {
  border-radius: 35px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
  padding: 1rem;
  background-color:#fff;
}

.card_title {
  font-family: 'Mrs Sheppards', cursive;
  color: black;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  color: black;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 400;
}

.made_by{
  font-weight: 400;
  font-size: 13px;
  margin-top: 35px;
  text-align: center;
}


.toggle-utensils {
	position: relative;
	display: block;
	width: 235px;
	height: 35px;
	margin-left: 70px;
	margin-top: 10px;
  cursor: pointer;
}
.toggle-utensils input[type="checkbox"] {
	opacity: 0;
	position: absolute;
	width: 100%;
	height: 100%;
}
.toggle-utensils input[type="checkbox"] + .utensils-back {
	position: absolute;
	width: 100%;
	height: 34px;
	transition: background 150ms linear;
  border-radius: 10px;
}

.toggle-utensils input[type="checkbox"] + .utensils-back .toggle {
	display: block;
	position: absolute;
	content: " ";
	width: 49%;
	height: 30px;
	transition: margin 150ms linear;
	border: 2px solid var(--main-color-harrypotter);
	border-radius: 10px;
}
.toggle-utensils input[type="checkbox"]:checked + .utensils-back .toggle {
	margin-left: 116px;
}
.toggle-utensils .label {
	display: block;
	position: absolute;
	width: 50%;
	color: var(--main-color-harrypotter);
	line-height: 35px;
	text-align: center;
	font-size: 16px;
  font-family: 'Eczar', serif;
}
.toggle-utensils .label-ingredients {
	left: 0px;
}
.toggle-utensils .label-utensils {
	right: 0px;
}

.toggle-utensils
	input[type="checkbox"]:checked
	+ .utensils-back
	.label-ingredients {
	color: var(--main-color-harrypotter);
}
.toggle-utensils input[type="checkbox"] + .utensils-back .label-utensils {
	color: var(--main-color-harrypotter);
}
.toggle-utensils
	input[type="checkbox"]:checked
	+ .utensils-back
	.label-utensils {
	color: var(--main-color-harrypotter);
}


/* START MODAL SEARCH **/

#search-box-model-container.disable {
  display: none;
}

#search-box-model-container.active {
  display: flex;
  transform: translateY(80px);
  transition: transform 0.5s ease-in-out;
  border-radius: 20px;
  padding: 15px;
  width: 422px;
  position: absolute;
  z-index: 999;
  border: 2.5px solid var(--main-color-harrypotter);
  font-family: 'Encode Sans Expanded', sans-serif;
  color: var(--main-color-harrypotter);
  margin-left: 10px;
  justify-content: center;
}

.search-box-modal-over.disable {
  display: none;
}

.search-box-modal-over.active {
  display: block;
  z-index: 1;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4);
  position: fixed;
  width: 100%;
  height: 100%;
  margin-left: 0px;
  left:0;
  top: 0;
  bottom: 0;
  overflow-x: unset;
  overflow-y: unset;
}

.search-input-prop {
  z-index: 999;
  position: absolute;
  transform: translateY(10px);
}

.disable-scroll {
  overflow: hidden;
}

.btn-filter_container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 15px;
}

.filter_btn {
  margin: 18px;
  padding: 10px;
  text-decoration: none;
  background: var(--main-color-harrypotter);
  border: 2.5px solid var(--main-color-harrypotter);
  transition: flex 0.7s ease-in;
  font-family: 'Encode Sans', sans-serif;
  font-weight: 600;
  border-radius: 10px;
  color: #fffafa;
  width: 102px;
  height: 38px;
  font-size: 15px;
  cursor: pointer;
}

.reset_btn {
  margin: 18px;
  padding: 10px;
  text-decoration: none;
  background: #909090;
  border: 2.5px solid #909090;
  transition: flex 0.7s ease-in;
  font-family: 'Encode Sans', sans-serif;
  font-weight: 600;
  border-radius: 10px;
  color: #fffafa;
  width: 102px;
  height: 38px;
  font-size: 15px;
  cursor: pointer;
}
.filter_btn:hover {
  color: var(--main-color-harrypotter);
  font-weight: 600;
  background-color: transparent;
}
.reset_btn:hover {
  color: #909090;
  font-weight: 600;
  background-color: transparent;
}
/* END MODAL SEARCH **/
