
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/*Common App CSS*/



hr{
  margin-top: -1px;
  border:2px dotted var(--main-color-light);
  border-radius: 3px;
  color:var(--main-color-light);
  background:var(--main-color-light);
  height:1px;
}
hr.hline_color {
  background:#7a61f850;
  height:2px;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #e6e6e6;
  box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.12);
}

.container {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 5px;
}

.openmenu {
  border: none;
  outline: none;
  background: none;
}

.closemenu {
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  border: none;
  outline: none;
  background: none;
}
.hamburger-icon{
  margin: 8px,6px;
  width: 38px;
  height: 38px;;
}

.title {
  font-family: inherit;
  line-height: inherit;
  text-transform: capitalize;
  text-rendering: optimizeLegibility;
}
.title-large {
  font-size: 2.25rem;
  font-weight: 700;
  color: var(--main-color-light);
}

.subtitle {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 700;
  line-height: inherit;
  margin: 0;
  color: var(--main-color-light);
  text-transform: capitalize;
  text-rendering: optimizeLegibility;
}
.title-top-container{
  margin: 18px;
  padding: 0;
  color: var(--main-color-light);
  font-family: 'Encode Sans Expanded', sans-serif;
  font-size: 16px;
  font-weight:900;
}
.icon-top-container{
  width: 30px;
  height: 30px;
  margin-left: -6px;
}

.navmenu {
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
}

.navmodal {
  position: absolute;
  margin-top: 140px;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 40%;
  overflow-y: auto;
  overflow-x: hidden;
  border: none;
  outline: none;
  transform: translateY(-1600px);
  transition: transform 0.5s ease-in-out;
  border-radius: 30px;
  font-family: 'Encode Sans', sans-serif;
  color: var(--main-color-light);
}
.navmodal.active {
  position: fixed;
  overflow-y: scroll;
  transform: translateY(0);
}
.navmodal-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row wrap;
  align-items: flex-start;
  width: 100%;
  min-height: auto;
  padding: 5px;
}
@media only screen and (max-width: 768px) {
  .navmodal-wrapper {
    padding: 5px;
  }
  .navmodal{
    height: 70%;
  }
}
.navmodal-wrapper .column {
  flex: auto;
  flex-basis: 25%;
  width: 50px;
  height: auto;
}

.navmodal-wrapper .column .menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  list-style:none;
}
.navmodal-wrapper .column .menu-item {
  margin: 0.15rem 0;
}
.navmodal-wrapper .column .menu-link {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  line-height: inherit;
  color: #7a61f8ea;
  text-transform: capitalize;
  text-rendering: optimizeLegibility;
}
 .menu-link:hover {
   text-shadow: 0 0 10px var(--main-color-light),
              0 0 10px var(--main-color-light);

}
@media only screen and (max-width: 1024px) {
  .navmodal-wrapper .column {
    flex-basis: 33.33%;
  }
}
@media only screen and (max-width: 768px) {
  .navmodal-wrapper .column {
    flex-basis: 50%;
  }
}
@media only screen and (max-width: 425px) {
  .navmodal-wrapper .column {
    flex-basis: 100%;
  }
}

.header-container{
  margin: 0;
  display: inline-flex;
  justify-content: space-evenly;

}

::shadow h1 {
    position: relative;
    margin: 0;
    padding:0;
    font-family: 'Bebas Neue', cursive;
    font-weight: 100;
    font-size: 50px;
    color: var(--main-color-light);
}


.search > div {
  display: inline-block;
  position: relative;
  padding: 0;
}

.search > div:after {
  content: "";
  background: var(--main-color-light);
  width: 2px;
  height: 14px;
  position: absolute;
  top: 40px;
  right: 12px;
  transform: rotate(145deg);
}

.search > div > input {
  color: var(--link-color-light);
  font-size: 18px;
  font-family: 'Encode Sans', sans-serif;
  background: transparent;
  width: 12px;
  height: 12px;
  margin:9px;
  padding: 10px;
  border: solid 2.5px var(--main-color-light);
  outline: none;
  border-radius: 35px;
  transition: width 0.5s;
}

.search > div > input::placeholder {
  color: var(--link-color-light);
  opacity: 0;
  transition: opacity 150ms ease-out;
}

.search > div > input:focus::placeholder {
  opacity: 1;
}

.search > div > input:focus,
.search > div > input:not(:placeholder-shown) {
  width: 250px;
}

.login{
  margin: 10px;
    display: flex;
    float: right;
    margin-top: 8px;
}
.login-btn-img{
  background-color: transparent;
  width: 40px;
}
.home-btn-img{
  background-color: transparent;
  width: 40px;
}
.top-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
.switch {
  visibility: hidden;
  position: absolute;
}

.switch + label {
  display: block;
  height: 19px;
  width: 50px;
  position: relative;
  background-color: rgba(122, 122, 122, 0.753);
  border-radius: 150px;
}

.switch + label::before {
  display: block;
  position: absolute;
  content: "";
  left: 1px;
  top: 0px;
  bottom: 10px;
  border-radius: 100%;
  width: 18px;
  height: 18px;
  background-color: #fff;
  box-shadow: 0 3px 5px rgba(0,0,0,0.3);
}

.switch + label, .switch + label::before {
  transition: all 0.4s;
}

.switch:checked + label {
  background-color: var(--main-color-light);
}

.switch:checked + label::before {
  margin-left: 30px;
}


footer {
    background-color: #745bf1b7;
    font-family: "Lato", sans-serif;
    padding: 85px 0 15px 0;
}

.footer-inner {
  display: flex;
  justify-content: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
    position: relative;
}

.footer-item {
    float: left;
    margin: 0 7.2% 0 0;
}

.footer-item:nth-of-type(4) {
    display: none;
}

.footer-item:nth-of-type(7) {
    float: right;
    margin-right: 0;
}

.footer-button {
    color: white;
    position: relative;
    font-weight: 400;
    font-size: 16px;
    transition: 1s;
    transition-delay: .2s;
    padding: 14px;
}

.footer-button:after {
    content: "";
    position: absolute;
    top: 45px;
    right: 13px;
    background-color: white;
    height: 1px;
    width: 86px;
    transition: .6s;
}

.footer-button:hover {
    color: black;
    background-color: white;
}

.footer-button:hover:after {
    width: 112px;
    right: 0px;
}



h2 {
    font-weight: 300;
    line-height: 1.8;
    font-size: 13px;
    color: #d1d1d1;
    letter-spacing: 0.03em;
    padding: 15px 0 0 0;
}

.color {
    color: white;
    font-weight: 400;
}

h3 {
    font-weight: 400;
    font-size: 13px;
    color: white;
    margin: 0;
    padding-bottom: 9px;
    letter-spacing: 0.03em;
}

h3.desktop {
    padding-top: 30px;
}

ul {
    line-height: 1.8;
    list-style-type: none;
    padding: 0;
}

li {
    font-weight: 300;
    font-size: 13px;
    color: #d1d1d1;
    letter-spacing: 0.03em;
}

p {
    font-weight: 300;
    font-size: 13px;
    padding: 0;
    line-height: 1.8;
    letter-spacing: 0.03em;
}

a {
    text-decoration: none;
    color: #d1d1d1;
}

a:hover {
    color: white;
}

.desktop {
    display: auto;
}

.footer-inner:after {
    content: "Made with ♡ by Fan'Tasty 2022";
    font-weight: 300;
    letter-spacing: 0.03em;
    font-size: 13px;
    color: #d1d1d1;
    position: absolute;
    top: 200px;
    clear: both;
    display: block;
}

@media (max-width: 1024px) {

footer {
    padding: 50px 0 5px 0 !important;
}

.footer-inner {
    padding-bottom: 10px;
    margin-bottom: 50px;
}

.footer-item {
    margin: 0 0 42px 0;
    width: 50%;
}

.footer-item:nth-of-type(1) {
    padding-bottom: 32px;
    float: none;
    width: 100%;
}

.footer-item:nth-of-type(2) {
    clear: both;
}

.footer-item:nth-of-type(4) {
    clear: both;
    display: block;
}

.footer-item:nth-of-type(6) {
    clear: both;
}

.footer-item:nth-of-type(7) {
    clear: both;
    float: left;
    margin: 20px 0 0 -13px;
}

.desktop {
    display: none;
}

.footer-inner:after {
    top: 260px;
}}


/*Component's CSS*/
.title-container{
  margin: 0 0 0 -898px;
  display:flex;
  flex-direction: row;
  justify-content: right;
  width: 100%;
  height: 100%;
  align-items: center;
}
.title-users-recipes{

  font-size: 26px;
  font-weight:unset;
  color: var(--main-color-light);
  font-family: 'Bebas Neue', cursive;

}
.title_container_duo{
  display:flex;
  margin: 20px 0 15px -370px;
  flex-direction: row;
  justify-content: right;
  width: 100%;
  height: 100%;
  align-items: center;
}
.title_container_universe{
  margin: 40px 0 8px -168px;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.title_duo{
  font-size: 26px;
  font-weight:unset;
}
.title-universe{
  font-size: 27.5px;
  font-weight:unset;
  color: var(--main-color-light);
  font-family: 'Bebas Neue', cursive;
}
.tags_users_recipes{
  margin-top:18px;
  margin-left:8px;
  font-size: 16px;
  font-weight: 600;
  color: var(--main-color-light);
  font-family: 'Encode Sans Expanded', sans-serif;
}
.tags_duo{
  margin-top:15px;
  margin-left:-300px;
  margin-right: 8px;;
  font-size: 16px;
  font-weight: 600;
  color: var(--main-color-light);
  font-family: 'Encode Sans Expanded', sans-serif;
}
.tags_universe{
  margin-left:8px;
  font-size: 16px;
  font-weight: 600;
  color: var(--main-color-light);
  font-family: 'Encode Sans Expanded', sans-serif;
}
.title_icon{
  margin-top:-1px;
  margin-left: 8px;
  width: 28px;
  height: 28px;
}
.duo_icon{
  margin-top:9px;
  width: 55px;
  height: 55px;
}
.universe_icon{
  margin-top:-22px;
  margin-left: 8px;
  width: 45px;
  height: 45px;
}
.container-users-recipes{
    margin-top:10px;
    display:flex;
    justify-content: center;
    width:100%;
    height: auto;
}

.panel{
    margin: 10px;
    border-radius: 30px;
    width: 168px;
    height: 320px;
    position:relative;
    transition:flex 0.7s ease-in;
    border: 2.5px solid var(--main-color-light);
}

.img_panel{
  width: 100%;
  height: 320px;
  border-radius: 30px;
}
.panel:hover{
  box-shadow: 0 0 23px var(--main-color-light),
              0 0 23px var(--main-color-light);
}

.panel_active{
    flex:0.45;
  width: 500px;
}
.panel_active h3{
    opacity:1;
    transition:opacity 0.3s ease-in 0.4s;
}

@media (max-width:480px){
    .container{
        width:100vw;
    }
    .panel:nth-of-type(4),.panel:nth-of-type(5){
        display:none;
    }
}

.main-container{
  display: flex;
  box-sizing:border-box;
  width: 100%;
  margin: 0;
}

.recipes-home {
  display: flex;
  justify-content: center;
}

.recipe{
  margin: 0 15px 0 15px;
  width: 558px;
  height: 368px;
  border-radius: 40px;
  border: 2.5px solid var(--main-color-light);
}

.daily_recipe{
  width: 100%;
  height: 368px;
  border-radius: 40px;
  background-position: center;
}

.recipe:hover{
  box-shadow: 0 0 23px var(--main-color-light),
              0 0 23px var(--main-color-light);
}

.cards-list {
  z-index: 0;
  width: 1224px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 90px;
  margin-left: 349px;
}

.card {
  margin: 10px;
  width: 374px;
  height: 240px;
  border-radius: 40px;
  border: 2.5px solid var(--main-color-light);
}

.card .card_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

.card .card_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
}

.card:hover {
  box-shadow: 0 0 23px var(--main-color-light),
              0 0 23px var(--main-color-light);
}
.gif_1{
  background-image: url("../../assets/img/walt-disney.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
}
.gif_1:hover{
  background-image: url("https://media.giphy.com/media/42ZPYptEGgxaM/giphy.gif");
}
.gif_2{
  background-image: url(../../assets/img/naruto.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
}
.gif_2:hover{
  background-image: url("https://64.media.tumblr.com/05e0e8b044615ef489489b74d03d3b44/tumblr_nm7eoliv5J1qj5jqso1_500.gifv");
}
.gif_3{
  background-image: url(../../assets/img/marvel.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
}
.gif_3:hover{
  background-image: url("https://media.giphy.com/media/vBjLa5DQwwxbi/giphy.gif");
}
.gif_4{
  background-image: url(../../assets/img/harry-potter.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.gif_4:hover{
  background-image: url("https://img.wattpad.com/c26f32faafd3f46ff7035d673c280d61f559abd3/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f776174747061642d6d656469612d736572766963652f53746f7279496d6167652f452d2d68306e5a487471364d4b513d3d2d3339373035373832332e313462343762323762376465343834663439323435303232313230342e676966");
}
.gif_5{
  background-image: url("../../assets/img/wow.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.gif_5:hover{
  background-image: url("../../assets/img/wow.gif");
}
.gif_6{
  background-image: url("../../assets/img/back-to-the-future.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.gif_6:hover{
  background-image: url("../../assets/img/back-to-the-future.gif");
}


@media all and (max-width: 500px) {
  .card-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
  ;.recipes-container {
      flex-direction: column;
  }
}


/*RecipeTemplateCSS*/

.recipe-card,
.process {
	width: 800px;
	margin: 25px auto 50px auto;
	padding: 25px;
	border-radius: 35px;
	border: solid 2.5px var(--main-color-light)
}
.recipe-card {
	display: grid;
	grid: auto / 1fr 1fr;
	gap: 25px;
}
.recipe-card:hover{
  box-shadow: 0 0 23px var(--main-color-light),
              0 0 23px var(--main-color-light);
}
.process:hover{
  box-shadow: 0 0 23px var(--main-color-light),
              0 0 23px var(--main-color-light);
}
.columns {
	columns: 350px 2;
}
.title-recipe,
.subtitle-recipe {
	font-size: 2em;
  font-family: 'Mouse Memoirs', sans-serif;
   color: var(--main-color-light);
	text-align: center;
	margin: 0;
  padding: 0;
}
.subtitle-ingredients{
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', serif;
  font-weight:unset;
  font-size: 20px;
  color: var(--main-color-light);
}
.instructions{
  padding: 0;
  font-family: 'Roboto Slab', serif;
  font-weight: unset;
  font-size: 15px;
  color: var(--main-color-light);
}
.subtitle-process{
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', serif;
  font-weight:bolder;
  font-size: 18px;
  color: var(--main-color-light);
}

ul,
ol {
	list-style-type: none;
}

ul.ingredients > li {
	font-family: 'Roboto Slab', serif;
  font-weight: unset;
  font-size: 15px;
  color: var(--main-color-light);
}
ul.pesto {
	margin: 0;
	padding: 20px 20px 0 20px;
}
li {
	line-height: 1.8;
  font-family: 'Roboto Slab', serif;
  color: var(--main-color-light);
}

ol {
	margin: 0;
	list-style-position: inside;
}
ol > li {

	margin-bottom: 5px;
}
ol > li::before {
	font-size: 1rem;
	font-weight: 600;
	position: absolute;
	margin:0;
}
ol > li > ul {
	margin: 0;
}
p{
  margin: 0;
  padding: 0;
}

.variation {
	font-size: 0.9rem;
	margin: 100px 25px 0 0;
}
