/*Common App CSS*/
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Mrs+Sheppards&family=Sedgwick+Ave+Display&family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Bungee+Shade&family=Eczar:wght@600&family=Mrs+Sheppards&family=Roboto+Slab&family=Sedgwick+Ave+Display&family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Do+Hyeon&family=Eczar:wght@600&family=Mouse+Memoirs&family=Mrs+Sheppards&family=Roboto+Slab&family=Sedgwick+Ave+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Coda&family=Do+Hyeon&family=Eczar:wght@600&family=Mouse+Memoirs&family=Mrs+Sheppards&family=Roboto+Slab&family=Sedgwick+Ave+Display&display=swap');

a,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  border: none;
  outline: none;
  background: none;
  text-decoration: none;
}
hr{
  margin-top: -1px;
  border:2px dotted var(--main-color-marvel);
  border-radius: 3px;
  color:var(--main-color-marvel);
  background:var(--main-color-marvel);
  height:1px;
}
hr.hline_color {
  background:#e538352d;
  height:2px;
}


::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #e6e6e6;
  box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.12);
}

.container {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 5px;
}

.openmenu {
  border: none;
  outline: none;
  background: none;
}

.closemenu {
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  border: none;
  outline: none;
  background: none;
}
.hamburger-icon{
  margin-top: -6px;
  width: 57px;
  height: 57px;;
}

.title {
  font-family: inherit;
  line-height: inherit;
  text-transform: capitalize;
  text-rendering: optimizeLegibility;
}
.title-large {
  font-size: 2.25rem;
  font-weight: 700;
  color: var(--main-color-marvel);
}

.subtitle {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 700;
  line-height: inherit;
  margin: 0;
  color: var(--main-color-marvel);
  text-transform: capitalize;
  text-rendering: optimizeLegibility;
}
.title-top-container{
  margin: 18px;
  padding: 0;
  color: var(--main-color-marvel);
  font-family: 'Coda', cursive;
  font-size: 17px;
  font-weight: bolder;
}
.icon-top-container{
  width: 30px;
  height: 30px;
  margin-left: -6px;
}

.navmenu {
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
}

.navmodal {
  position: absolute;
  margin-top: 150px;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 40%;
  overflow-y: auto;
  overflow-x: hidden;
  border: none;
  outline: none;
  transform: translateY(-1600px);
  transition: transform 0.5s ease-in-out;
  border-radius: 30px;
  font-family: 'Coda', cursive;
  color: var(--main-color-marvel);
}
.navmodal.active {
  position: fixed;
  overflow-y: scroll;
  transform: translateY(0);
}
.navmodal-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row wrap;
  align-items: flex-start;
  width: 100%;
  min-height: auto;
  padding: 5px;
}
@media only screen and (max-width: 768px) {
  .navmodal-wrapper {
    padding: 5px;
  }
  .navmodal{
    height: 70%;
  }
}
.navmodal-wrapper .column {
  flex: auto;
  flex-basis: 25%;
  width: 50px;
  height: auto;
}

.navmodal-wrapper .column .menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  list-style:none;
}
.navmodal-wrapper .column .menu-item {
  margin: 0.15rem 0;
}
.navmodal-wrapper .column .menu-link {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  line-height: inherit;  
  color: var(--link-color-marvel);  
  text-transform: capitalize;
  text-rendering: optimizeLegibility;
}
 .menu-link:hover {
   text-shadow: 0 0 10px var(--main-color-marvel),
              0 0 10px var(--main-color-marvel);

}
@media only screen and (max-width: 1024px) {
  .navmodal-wrapper .column {
    flex-basis: 33.33%;
  }
}
@media only screen and (max-width: 768px) {
  .navmodal-wrapper .column {
    flex-basis: 50%;
  }
}
@media only screen and (max-width: 425px) {
  .navmodal-wrapper .column {
    flex-basis: 100%;
  }
}

.header-container{
  margin: 0;
  display: inline-flex;
  justify-content: space-evenly;
    
}

.search > div {
  display: inline-block;
  position: relative;
  padding: 0;
}

.search > div:after {
  content: "";
  background: var(--main-color-marvel);
  width: 2px;
  height: 14px;
  position: absolute;
  top: 40px;
  right: 12px;
  transform: rotate(145deg);
}

.search > div > input {
  color: var(--link-color-marvel);
  font-size: 18px;
  font-family: 'Coda', cursive;
  background: transparent;
  width: 12px;
  height: 12px;
  margin:9px;
  padding: 10px;
  border: solid 2.5px var(--main-color-marvel);
  outline: none;
  border-radius: 35px;
  transition: width 0.5s;
}

.search > div > input::placeholder {
  color: var(--link-color-marvel);
  opacity: 0;
  transition: opacity 150ms ease-out;
}

.search > div > input:focus::placeholder {
  opacity: 1;
}

.search > div > input:focus,
.search > div > input:not(:placeholder-shown) {
  width: 250px;
}

.login{
  margin: 10px;
    display: flex;
    float: right;    
    margin-top: 8px;
}
.login-btn-icon{
  background-color: transparent;
  width: 45px;
}
.home-btn-img{
  background-color: transparent;
  width: 40px;
}
.top-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
.switch {
  visibility: hidden;
  position: absolute;
}

.switch + label {
  display: block;
  height: 19px;
  width: 50px;
  position: relative;
  background-color: rgba(122, 122, 122, 0.753);
  border-radius: 150px;
}

.switch + label::before {
  display: block;
  position: absolute;
  content: "";
  left: 1px;
  top: 0px;
  bottom: 10px;
  border-radius: 100%;
  width: 18px;
  height: 18px;
  background-color: #fff;
  box-shadow: 0 3px 5px rgba(0,0,0,0.3);
}

.switch + label, .switch + label::before {
  transition: all 0.4s;
}

.switch:checked + label {
  background-color: var(--main-color-marvel);
}

.switch:checked + label::before {
  margin-left: 30px;
}

  
h2 {
    font-weight: 300;
    line-height: 1.8;
    font-size: 13px;
    color: #d1d1d1;
    letter-spacing: 0.03em;
    padding: 15px 0 0 0;
}
  
.color {
    color: white;
    font-weight: 400;
}
  
h3 {
    font-weight: 400;
    font-size: 13px;
    color: white;
    margin: 0;
    padding-bottom: 9px;
    letter-spacing: 0.03em;
}

h3.desktop {
    padding-top: 30px;
}
  
ul {
    line-height: 1.8;
    list-style-type: none;
    padding: 0;
}
  
li {
    font-weight: 300;
    font-size: 13px;
    color: #d1d1d1;
    letter-spacing: 0.03em;
}
  
p {
    font-weight: 300;
    font-size: 13px;
    padding: 0;
    line-height: 1.8;
    letter-spacing: 0.03em;
}
  
a {
    text-decoration: none;
    color: #d1d1d1;
}
  
a:hover {
    color: white;
}
  
.desktop {
    display: auto;
}

@media (max-width: 1024px) {
  
footer {
    padding: 50px 0 5px 0 !important;
}

.footer-inner {
    padding-bottom: 10px;
    margin-bottom: 50px;
}

.footer-item {
    margin: 0 0 42px 0;
    width: 50%;
}

.footer-item:nth-of-type(1) {
    padding-bottom: 32px;
    float: none;
    width: 100%;
}

.footer-item:nth-of-type(2) {
    clear: both;
}

.footer-item:nth-of-type(4) {
    clear: both;
    display: block;
}

.footer-item:nth-of-type(6) {
    clear: both;
}

.footer-item:nth-of-type(7) {
    clear: both;
    float: left;
    margin: 20px 0 0 -13px;
}

.desktop {
    display: none;
}

.footer-inner:after {
    top: 260px;
}}


/*Universes' block's*/

.main-cards-container{
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0;
}



.btn {
  
  font-family: 'Coda', cursive;
  letter-spacing: 1px;
  font-weight:600;
  font-size: 19px;
  margin: 10px;
  color: var(--main-color-marvel);
  
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.card{
  
  border: solid 2.5px var(--main-color-marvel);
  border-radius: 35px;
}
.card:hover{
  box-shadow: 0 0 23px var(--main-color-marvel),
              0 0 23px var(--main-color-marvel);
}

.cards_item {
  display: flex;
  flex-direction: column;
  padding: 1rem;  
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 23.5%;
  }
}

.card {
  border-radius: 35px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
  padding: 1rem;
  background-color:#fff;
}

.card_title {
  font-family: 'Coda', cursive;
  color: black;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  color: black;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 400;
}

.made_by{
  font-weight: 400;
  font-size: 13px;
  margin-top: 35px;
  text-align: center;
}


/*RecipeTemplateCSS*/

.recipe-card,
.process {
	width: 800px;
	margin: 25px auto 50px auto;
	padding: 25px;
	border-radius: 35px;
	border: solid 2.5px var(--main-color-marvel)
}
.recipe-card {
	display: grid;
	grid: auto / 1fr 1fr;
	gap: 25px;
}
.recipe-card:hover{
  box-shadow: 0 0 23px var(--main-color-marvel),
              0 0 23px var(--main-color-marvel);
}
.process:hover{
  box-shadow: 0 0 23px var(--main-color-marvel),
              0 0 23px var(--main-color-marvel);
}
.columns {
	columns: 350px 2;
}
.title-recipe, 
.subtitle-recipe {
	font-size: 27px;
  font-family: 'Coda', cursive;
   color: var(--main-color-marvel);
	text-align: center;
	margin: 0;
  padding: 0;
}
.subtitle-ingredients{
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', serif;
  font-weight:unset;
  font-size: 20px;
  color: var(--main-color-marvel);
}
.instructions{
  padding: 0;
  font-family: 'Coda', cursive;
  font-weight: unset;
  font-size: 15px;
  color: var(--main-color-marvel);
}
.subtitle-process{
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', serif;
  font-weight:bolder;
  font-size: 18px;
  color: var(--main-color-marvel);
}

ul,
ol {
	list-style-type: none;
}

ul.ingredients > li {
	font-family: 'Coda', cursive;
  font-weight: unset;
  font-size: 15px;
  color: var(--main-color-marvel);
  text-align: center;
}
ul.pesto {
	margin: 0;
	padding: 20px 20px 0 20px;
}
li {
	line-height: 1.8;
  font-family: 'Coda', cursive;
  color: var(--main-color-marvel);
}

ol {	
	margin: 0;
	list-style-position: inside;
}
ol > li {
	
	margin-bottom: 5px;
}
ol > li::before {
	font-size: 1rem;
	font-weight: 600;
	position: absolute;
	margin:0;
}
ol > li > ul {
	margin: 0;
}
p{
  margin: 0;
  padding: 0;
}

.recipe_img {
  height: auto;
  width: 100%;
  vertical-align: middle;
}

figure{
  margin: 0;
}

.recipe-template_img {
	width: 400px;
	border-radius: 30px;
}

.favorite-recipe_img:hover{
  box-shadow: 0 0 23px var(--main-color-marvel),
              0 0 23px var(--main-color-marvel);
}

figcaption, p {
	font-size: 14px;
  font-weight: 500;
	text-align: center;
  font-family: 'Coda', cursive;
  color: var(--main-color-marvel);
}
figcaption::before {
	content: "Création by ";
}

.variation {
	font-size: 0.9rem;
	margin: 100px 25px 0 0;
}

.favorite-recipe_img{
    border: solid 2.5px var(--main-color-marvel);
}


.container_loader {
  display: flex;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}

.loader {
  display: block;
  position: relative;
  overflow: hidden;
  width: 200px;
  height: 10px;
  margin: auto;
}
.loader:before, .loader:after {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  -webkit-animation: loader 1s infinite ease-in-out;
          animation: loader 1s infinite ease-in-out;
}
.loader:after {
  z-index: 1;
  background-color: var(--main-color-marvel);
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
@-webkit-keyframes loader {
  0% {
    width: 100%;
  }
  50% {
    width: 0;
  }
  100% {
    left: auto;
    right: 0;
  }
}
@keyframes loader {
  0% {
    width: 100%;
  }
  50% {
    width: 0;
  }
  100% {
    left: auto;
    right: 0;
  }
}


.logout_btn {
   margin: 18px;
   text-decoration: none;
   background: var(--main-color-marvel);
   border: 2.5px solid var(--main-color-marvel);
   transition: flex 0.7s ease-in;
   font-family: 'Coda', cursive;
   border-radius: 10px;
   color: black;
   width: 148px;
   height: 48px;
   font-size: 15px;
   font-weight: unset;
   cursor: pointer;
   text-align: center;
}

.logout_btn:hover {
  color: var(--main-color-marvel);
  font-weight: unset;
  background-color: transparent;
}

.delete_btn {
  font-family: 'Coda', cursive;
  font-size: 15px;
  font-weight: unset;
}


.containerIcon{
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgIconDifficulteBudgetSaison{
  width: 30px;
  height: 30px;
}

.containerProportions{
  margin: 15px 0 15px 0;
  color: var(--main-color-marvel);
}

.imgIconPlusMoins{
  width: 15px;
  height: 15px;
}

.titleIconDifficulteBudgetSaison{
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  color: var(--main-color-marvel);
}