<div class="search-container_modal">
  <form [formGroup]="searchForm" (ngSubmit)="btnClickSearch()" novalidate>
    <h4>Type</h4>
    <div class="search-box_modal">
      <ng-container *ngFor="let item of lstTypePlat; let i=index">
        <label>
          <input type="checkbox" [value]="item.value" (change)="onCheckboxChange($event,1)" />
          {{item.name}}
        </label>
      </ng-container>
    </div>

    <h4>Saison</h4>

    <div class="search-box_modal">
      <ng-container *ngFor="let item of lstSaison; let i=index">
        <label>
          <input type="checkbox" [value]="item.value" (change)="onCheckboxChange($event,2)" />
          {{item.name}}
        </label>
      </ng-container>
    </div>

    <h4>Coût</h4>
    <div class="search-box_modal">
      <ng-container *ngFor="let item of lstCout; let i=index">
        <label>
          <input type="checkbox" [value]="item.value" (change)="onCheckboxChange($event,3)" />
          {{item.name}}
        </label>
      </ng-container>
    </div>

    <h4>Difficulté</h4>
    <div class="search-box_modal">
      <ng-container *ngFor="let item of lstDifficulte; let i=index">
        <label>
          <input type="checkbox" [value]="item.value" (change)="onCheckboxChange($event,4)" />
          {{item.name}}
        </label>
      </ng-container>
    </div>

    <div class="search-box_btn">
      <input class="filter_btn" type="submit" value="Filtrer">
      <button class="reset_btn" (click)="btnClickReset()">Reset</button>
    </div>


  </form>
</div>

<app-search-results [recettes]="recettes"></app-search-results>