<div class="main-cards-container">

    <ul class="cards">
        <li class="cards_item" *ngFor="let recette of recettes">
            <a href="/marvel/recette/{{recette.id}}">
                <div class="card">
                    <div class="card_image"><img src="../../assets/marvel-hulk-tacos.jpg"></div>
                </div>
                <button class="btn card_btn">{{recette.nom}}</button>
            </a>
        </li>

        <!-- <li class="cards_item">
            <div class="card">
                <div class="card_image"><img src="../../assets/marvel-hulk-tacos.jpg"></div>
            </div>
            <button class="btn card_btn">Titre Recette</button>
        </li>
        <li class="cards_item">
            <div class="card">
                <div class="card_image"><img src="../../assets/marvel-cookies.jpg"></div>
            </div>
            <button class="btn card_btn">Titre Recette</button>
        </li>
        <li class="cards_item">
            <div class="card">
                <div class="card_image"><img src="../../assets/marvel-cupcakes.jpg"></div>
            </div>
            <button class="btn card_btn">Titre Recette</button>
        </li>
        <li class="cards_item">
            <div class="card">
                <div class="card_image"><img src="../../assets/marvel-smoothie.jpg"></div>
            </div>
            <button class=" btn card_btn">Titre Recette</button>

        </li>
        <li class="cards_item">
            <div class="card">
                <div class="card_image"><img src="../../assets/marvel-lunchbox.jpg"></div>
            </div>
            <button class="btn card_btn">Titre Recette</button>
        </li>
        <li class="cards_item">
            <div class="card">
                <div class="card_image"><img src="../../assets/marvel-boulettes-viande.jpg"></div>
            </div>
            <button class="btn card_btn">Titre Recette</button>
        </li>
        <li class="cards_item">
            <div class="card">
                <div class="card_image"><img src="../../assets/marvel-batman-salad.jpg"></div>
            </div>
            <button class="btn card_btn">Titre Recette</button>
        </li>
        <li class="cards_item">
            <div class="card">
                <div class="card_image"><img src="../../assets/marvel-vision-muffins.jpg"></div>
            </div>
            <button class="btn card_btn">Titre Recette</button>
        </li>
        <li class="cards_item">
            <div class="card">
                <div class="card_image"><img src="../../assets/marvel-baby-groot-sandwich.png"></div>
            </div>
            <button class="btn card_btn">Titre Recette</button>
        </li>
        <li class="cards_item">
            <div class="card">
                <div class="card_image"><img src="../../assets/marvel-avengers-blue-cookie.jpg"></div>
            </div>
            <button class="btn card_btn">Titre Recette</button>

        </li>
        <li class="cards_item">
            <div class="card">
                <div class="card_image"><img src="../../assets/marvel-hulk-donuts.jpg"></div>
            </div>
            <button class="btn card_btn">Titre Recette</button>
        </li>
        <li class="cards_item">
            <div class="card">
                <div class="card_image"><img src="../../assets/marvel-spiderman-strawberries.jpg"></div>
            </div>
            <button class="btn card_btn">Titre Recette</button>
        </li> -->
    </ul>
</div>
<footer>
    <div class="footer-inner">

        <section class="footer-item">
            <h3>Explore</h3>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Capabilities</a></li>
                <li><a href="#">Careers</a></li>
            </ul>
        </section>

        <section class="footer-item">
            <h3>Visit</h3>
            <a href="#">
                <p>Envoy So. California</p>
                <p>34 Tesla, Ste 100</p>
                <p>Irvine, Ca, USA 92618</p>
            </a>

        </section>

        <section class="footer-item">
            <h3>New Business</h3>
            <p><a href="#">Email us</a></p>
            <p><a href="#">949.333.3106</a></p>
        </section>
    </div>
</footer>