<!--Components Block-->
<div class="recipe-card card-bg">
    <div class="description">
        <h2 class="title-recipe">{{recette?.nom}}</h2>
        <p>
            <span [ngSwitch]="recette?.tags?.difficulte">
                <span *ngSwitchCase="1">#Très facile </span>
                <span *ngSwitchCase="2">#Facile </span>
                <span *ngSwitchCase="3">#Moyen </span>
                <span *ngSwitchCase="4">#Difficile </span>
            </span>

            <span [ngSwitch]="recette?.tags?.cout">
                <span *ngSwitchCase="1"> #Bon marché </span>
                <span *ngSwitchCase="2"> #Moyen </span>
                <span *ngSwitchCase="3" >#Assez cher </span>
            </span>
            <span>
                #{{recette?.tags?.saison}}
            </span>
        </p>

        <!-- DEBUT pour le nombre d'ingrédient -->
   
        <!-- FIN pour le nombre d'ingrédient -->

        <h2 class="subtitle-ingredients">Ingrédients</h2>
        <ul class="ingredients" *ngFor="let ingredientRecette of recette?.ingredients">
            <li>{{ingredientRecette.ingredient.nom}} | {{personneVoulu * ingredientRecette.quantite / recette.nombrePersonnes}} {{ingredientRecette.unite}}</li>
        </ul>

    </div>

    <div>
        <figure>
            <!-- <img src="../../assets/disney-baby-yoda-pie.jpg" /> -->
            <img src="http://localhost:60599/Resources/{{recette?.photo}}" alt="">
            <figcaption>{{recette?.auteur}}</figcaption>
        </figure>
        <ul>
            <!-- bouton pour augmenter le nombre de personnes-->
            <li>
                <button class="btnPortion" (click)="btnIncrementationNbrIngredient()">+</button>
                    🥄Personnes: {{personneVoulu}}
                <button class="btnPortion" (click)="btnDecrementationNbrIngredient()">-</button>
            </li>
            <!-- Fin bouton -->
            <li>⏲️Temps de préparation : {{recette?.temps?.tempsPreparation}}</li>
            <li>👨🏻‍🍳Temps de Cuisson : {{recette?.temps?.tempsCuisson}}</li>
            <li>✔️Temps total : {{recette?.temps?.tempsTotal}}</li>

        </ul>

    </div>
</div>

<div id="process"></div>

<div class="process">
    <h2 class="subtitle-recipe">Préparation</h2>

    <ol class="instructions" *ngFor="let etape of recette?.etapes; let index = index">
        <h3 class="subtitle-process">Etape {{index +1}}</h3>
        <li class="instructions">{{etape}}</li>
    </ol>
</div>