<div *ngIf="loading">
    <div class="container_loader">
        <span class="loader"></span>
    </div>
</div>

<!--Components Block-->

<div *ngIf="isFromUniverse && !loading">
    <div class="recipe-card">
        <div>
            <h2 class="title-recipe">{{recette?.nom}}</h2>
            <app-favorite *ngIf="userLogged" [recetteLiked]="recette"></app-favorite>

            <div class="containerIcon">
                <h3 class="titleIconDifficulteBudgetSaison">Difficulté:</h3>
                <div *ngFor="let nbIconeDifficulte of iconTableau(recette.tags.difficulte)">
                    <img class="imgIconDifficulteBudgetSaison" [src]="iconDifficulte()" />
                </div>
                <h3 class="titleIconDifficulteBudgetSaison">Budget:</h3>
                <div *ngFor="let nbIconeCout of iconTableau(recette.tags.cout)">
                    <img class="imgIconDifficulteBudgetSaison" [src]="iconBudget()" />
                </div>
                <h3 class="titleIconDifficulteBudgetSaison">Saison:</h3>
                <img class="imgIconDifficulteBudgetSaison" [src]="iconSaison()" />
            </div>
            <label class="toggle-utensils">
                <input type="checkbox" />
                <span class="utensils-back {{optionalClassSpanUtensil}}">
                    <span class="toggle {{optionalClassSpanToggle}}"></span>
                    <span class="label label-ingredients" (click)="showIngredientsUtensils($event)">Ingrédients</span>
                    <span class="label label-utensils" (click)="showIngredientsUtensils($event)">Ustensiles</span>
                </span>
            </label>
            <div *ngIf="display">

                <ul class="ingredients" *ngFor="let ingredientRecette of recette?.ingredients">
                    <li>{{ingredientRecette.ingredient.nom}} | {{personneVoulu * ingredientRecette.quantite /
                        recette.nombrePersonnes}} {{ingredientRecette.unite}}</li>
                </ul>
            </div>
            <div *ngIf="!display">
                <ul class="ingredients" *ngFor="let ustensiles of recette?.ustensiles">
                    <li>{{ustensiles}}</li>
                </ul>

            </div>


        </div>

        <div>
            <figure class="recipe_img">
                <img class="recipe-template_img" [src]="urlImage" alt="">
                <figcaption>{{recette?.auteur}}</figcaption>
            </figure>

            <ul>
                <li class="containerProportions">
                    🥄 Personne(s):
                    <button class="btnPortion" (click)="btnDecrementationNbrIngredient()">
                        <img class="imgIconPlusMoins" [src]="iconMoins()" />
                    </button>
                    {{personneVoulu}}
                    <button class="btnPortion" (click)="btnIncrementationNbrIngredient()">
                        <img class="imgIconPlusMoins" [src]="iconPlus()" />
                    </button>
                </li>
                <li>⏲️Temps de préparation : {{recette?.temps?.tempsPreparation}}</li>
                <li>👨🏻‍🍳Temps de Cuisson : {{recette?.temps?.tempsCuisson}}</li>
                <li>✔️Temps total : {{recette?.temps?.tempsTotal}}</li>

            </ul>
        </div>
    </div>

    <div id="process"></div>

    <div class="process">
        <h2 class="subtitle-recipe">Préparation</h2>

        <ol class="instructions" *ngFor="let etape of recette?.etapes; let index = index">
            <h3 class="subtitle-process">Etape {{index +1}}</h3>
            <li class="instructions">{{etape}}</li>
        </ol>
    </div>
</div>

<app-footer *ngIf="!loading"></app-footer>