<!--Start Common App blocks-->

<div class="header-container">

    <div class="navmenu">
        <div class="menubar">
            <div class="openmenu" id="openmenu">
                <img class="hamburger-icon" src="../../assets/burger-disney.png" />
            </div>
        </div>

    </div>
    <div class="navmodal" id="navmodal">
        <div class="container">
            <div class="closemenu" id="closemenu">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30">
                    <path fill="#12c4e3" fill-rule="evenodd"
                        d="M17.778.808l1.414 1.414L11.414 10l7.778 7.778-1.414 1.414L10 11.414l-7.778 7.778-1.414-1.414L8.586 10 .808 2.222 2.222.808 10 8.586 17.778.808z" />
                </svg>
            </div>
            <div class="navmodal-wrapper">
                <div class="column">
                    <h4 class="subtitle">Category Menu</h4>
                    <ul class="menu">
                        <li class="menu-item"><a href="#" class="menu-link">Category Menu Item</a></li>
                        <li class="menu-item"><a href="#" class="menu-link">Category Menu Item</a></li>
                        <li class="menu-item"><a href="#" class="menu-link">Category Menu Item</a></li>
                        <li class="menu-item"><a href="#" class="menu-link">Category Menu Item</a></li>
                        <li class="menu-item"><a href="#" class="menu-link">Category Menu Item</a></li>
                        <li class="menu-item"><a href="#" class="menu-link">Category Menu Item</a></li>
                    </ul>
                </div>
                <div class="column">
                    <h4 class="subtitle">Category Menu</h4>
                    <ul class="menu">
                        <li class="menu-item"><a href="#" class="menu-link">Category Menu Item</a></li>
                        <li class="menu-item"><a href="#" class="menu-link">Category Menu Item</a></li>
                        <li class="menu-item"><a href="#" class="menu-link">Category Menu Item</a></li>
                        <li class="menu-item"><a href="#" class="menu-link">Category Menu Item</a></li>
                        <li class="menu-item"><a href="#" class="menu-link">Category Menu Item</a></li>
                        <li class="menu-item"><a href="#" class="menu-link">Category Menu Item</a></li>
                    </ul>
                </div>
                <div class="column">
                    <h4 class="subtitle">Category Menu</h4>
                    <ul class="menu">
                        <li class="menu-item"><a href="#" class="menu-link">Category Menu Item</a></li>
                        <li class="menu-item"><a href="#" class="menu-link">Category Menu Item</a></li>
                        <li class="menu-item"><a href="#" class="menu-link">Category Menu Item</a></li>
                        <li class="menu-item"><a href="#" class="menu-link">Category Menu Item</a></li>
                        <li class="menu-item"><a href="#" class="menu-link">Category Menu Item</a></li>
                        <li class="menu-item"><a href="#" class="menu-link">Category Menu Item</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>


    <h1 (click)="btnClickHome()">Fan'Tasty</h1>

    <div class="search">
        <div>
            <input type="text" placeholder="Yummy . . ." required>
        </div>
    </div>
</div>

<div class="login">
    <button class="login-btn" (click)="btnClickHome()">
        <img class=" home-btn-img" src="../../assets/home-blue.png" />
    </button>
    <button class="login-btn">
        <img class="login-btn-icon" src="../../assets/login-disney.png" />
    </button>
</div>

<div class="top-container">
    <h3 class="title-top-container">Recettes de saison</h3>
    <img class="icon-top-container" src="../assets/recipe-book-blue.png" />
    <h3 class="title-top-container">Recette Random</h3>
    <img class="icon-top-container" src="../assets/dice-blue.png" />
    <h3 class="title-top-container">Concours</h3>
    <img class="icon-top-container" src="../assets/concours-blue.png" />
    <h3 class="title-top-container">Light/Dark</h3>
    <input type="checkbox" class="switch" id="example" />
    <label #example for="example" (appDarkMode)="darkOnOff($event)"></label>
</div>

<hr class="hline_color">

<!--End Common App blocks-->

<!--Components Block-->
<div class="recipe-card card-bg">
    <div class="description">
        <h2 class="title-recipe">Pasta with Pesto and Tomatoes</h2>

        <h2 class="subtitle-ingredients">Ingrédients</h2>
        <ul class="ingredients">
            <li><span>8 oz. spaghetti or linguine pasta</span></li>
            <li><span>2 cups fresh basil leaves, plus 4-8 reserved leaves for garnish</span></li>
            <li><span>2 cloves garlic</span></li>
            <li><span>2 tbsp. pine nuts or blanched almonds</span></li>
            <li><span>1/2 cup olive oil</span></li>
            <li><span>1/2 cup grated Parmesan cheese, plus 2 tbsp. for garnish.</span></li>
        </ul>

    </div>

    <div>
        <figure>
            <img src="../../assets/disney-baby-yoda-pie.jpg" />
        </figure>
        <ul>
            <li>🍽 Serves: 4</li>
            <li>⏱ Prep Time: 5 minutes</li>
            <li>👨‍🍳 Cook Time: 25 minutes</li>
            <li>🍝 Total Time: 30 minutes</li>
        </ul>

    </div>
</div>

<div id="process"></div>

<div class="process">
    <h2 class="subtitle-recipe">Préparation</h2>

    <ol class="instructions">
        <h3 class="subtitle-process">Etape 1</h3>
        <li class="instructions"><span>Bring 4 quarts of water to a rolling boil in a large pot. Salt the water
                generously and add the
                pasta.</span></li>
        <h3 class="subtitle-process">Etape 2</h3>
        <li class="instructions"><span>While the pasta cooks, make the pesto</span></li>
        <h3 class="subtitle-process">Etape 3</h3>
        <li class="instructions"><span>Heat a large skillet over medium heat. </span></li>
        <h3 class="subtitle-process">Etape 4</h3>
        <li class="instructions"><span>Add the 1/2 tsp. olive oil to the heated skillet.</span></li>
        <h3 class="subtitle-process">Etape 5</h3>
        <li class="instructions"><span>Add the cherry tomatoes to the skillet and let them blister, stirring
                occasionally and gently so they
                don't burst. </span></li>

    </ol>
</div>

<!--End Components Block-->

<!--Common App Blocks-->
<footer>
    <div class="footer-inner">

        <section class="footer-item">
            <h3>Explore</h3>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Capabilities</a></li>
                <li><a href="#">Careers</a></li>
            </ul>
        </section>

        <section class="footer-item">
            <h3>Visit</h3>
            <a href="#">
                <p>Envoy So. California</p>
                <p>34 Tesla, Ste 100</p>
                <p>Irvine, Ca, USA 92618</p>
            </a>

        </section>

        <section class="footer-item">
            <h3>New Business</h3>
            <p><a href="#">Email us</a></p>
            <p><a href="#">949.333.3106</a></p>
        </section>
    </div>
</footer>
<!--End Common Blocks CSS-->