<!--Components Block-->
<div class="recipe-card card-bg">
    <div class="description">
        <h2 class="title-recipe">Pasta with Pesto and Tomatoes</h2>
        <p>#Moyen #BonMarché #AllSeasons</p>

        <h2 class="subtitle-ingredients">Ingrédients</h2>
        <ul class="ingredients" *ngFor="let ingredients of ingredients">
            <li>{{ingredients.nom}}</li>
        </ul>

    </div>

    <div>
        <figure>
            <img src="../../assets/disney-baby-yoda-pie.jpg" />
            <figcaption>Shania</figcaption>
        </figure>
        <ul>
            <li>🥄Personnes: 4</li>
            <li>⏲️Temps de préparation : 5 minutes</li>
            <li>👨🏻‍🍳Temps de Cuisson : 25 minutes</li>
            <li>✔️Temps total : 30 minutes</li>

        </ul>

    </div>
</div>

<div id="process"></div>

<div class="process">
    <h2 class="subtitle-recipe">Préparation</h2>

    <ol class="instructions" *ngFor="let etape of recette?.etapes; let index = index">
        <h3 class="subtitle-process">Etape {{index +1}}</h3>
        <li class="instructions">{{etape}}</li>
    </ol>
</div>

<!--End Components Block-->

<!--Common App Blocks-->
<footer>
    <div class="footer-inner">

        <section class="footer-item">
            <h3>Explore</h3>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Capabilities</a></li>
                <li><a href="#">Careers</a></li>
            </ul>
        </section>

        <section class="footer-item">
            <h3>Visit</h3>
            <a href="#">
                <p>Envoy So. California</p>
                <p>34 Tesla, Ste 100</p>
                <p>Irvine, Ca, USA 92618</p>
            </a>

        </section>

        <section class="footer-item">
            <h3>New Business</h3>
            <p><a href="#">Email us</a></p>
            <p><a href="#">949.333.3106</a></p>
        </section>
    </div>
</footer>
<!--End Common Blocks CSS-->