<!--Components Block-->
<div class="recipe-card card-bg">
    <div class="description">
        <h2 class="title-recipe">Pasta with Pesto and Tomatoes</h2>
        <p>#Moyen #BonMarché #AllSeasons</p>

        <h2 class="subtitle-ingredients">Ingrédients</h2>
        <ul class="ingredients">
            <li>8 oz. spaghetti or linguine pasta</li>
            <li>2 cups fresh basil leaves, plus 4-8 reserved leaves for garnish</li>
            <li>2 cloves garlic</li>
            <li>2 tbsp. pine nuts or blanched almonds</li>
            <li>1/2 cup olive oil</li>
            <li>1/2 cup grated Parmesan cheese, plus 2 tbsp. for garnish.</li>
        </ul>

    </div>

    <div>
        <figure>
            <img src="../../assets/disney-baby-yoda-pie.jpg" />
            <figcaption>Shania</figcaption>
        </figure>
        <ul>
            <li>🥄Personnes: 4</li>
            <li>⏲️Temps de préparation : 5 minutes</li>
            <li>👨🏻‍🍳Temps de Cuisson : 25 minutes</li>
            <li>✔️Temps total : 30 minutes</li>

        </ul>

    </div>
</div>

<div id="process"></div>

<div class="process">
    <h2 class="subtitle-recipe">Préparation</h2>

    <ol class="instructions">
        <h3 class="subtitle-process">Etape 1</h3>
        <li class="instructions">Bring 4 quarts of water to a rolling boil in a large pot. Salt the water
            generously and add the
            pasta.</li>
        <h3 class="subtitle-process">Etape 2</h3>
        <li class="instructions">
            While the pasta cooks, make the pesto
        </li>
        <h3 class="subtitle-process">Etape 3</h3>
        <li class="instructions">
            Heat a large skillet over medium heat.
        </li>
        <h3 class="subtitle-process">Etape 4</h3>
        <li class="instructions">
            Add the 1/2 tsp. olive oil to the heated skillet.
        </li>
        <h3 class="subtitle-process">Etape 5</h3>
        <li class="instructions">
            Add the cherry tomatoes to the skillet and let them blister, stirring
            occasionally and gently so they
            don't burst.
        </li>

    </ol>
</div>

<!--End Components Block-->

<!--Common App Blocks-->
<footer>
    <div class="footer-inner">

        <section class="footer-item">
            <h3>Explore</h3>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Capabilities</a></li>
                <li><a href="#">Careers</a></li>
            </ul>
        </section>

        <section class="footer-item">
            <h3>Visit</h3>
            <a href="#">
                <p>Envoy So. California</p>
                <p>34 Tesla, Ste 100</p>
                <p>Irvine, Ca, USA 92618</p>
            </a>

        </section>

        <section class="footer-item">
            <h3>New Business</h3>
            <p><a href="#">Email us</a></p>
            <p><a href="#">949.333.3106</a></p>
        </section>
    </div>
</footer>
<!--End Common Blocks CSS-->