<div class="main-cards-container">

    <ul class="cards">
        <li class="cards_item">
            <div class="card">
                <div class="card_image"><img src="../../assets/harry-potter-biere.jpg"></div>
            </div>
            <button class="btn card_btn">Titre Recette</button>
        </li>
        <li class="cards_item">
            <div class="card">
                <div class="card_image"><img src="../../assets/harry-potter-birthdaycake.png"></div>
            </div>
            <button class="btn card_btn">Titre Recette</button>
        </li>
        <li class="cards_item">
            <div class="card">
                <div class="card_image"><img src="../../assets/harry-potter-butterbeer-doughnuts.jpg"></div>
            </div>
            <button class="btn card_btn">Titre Recette</button>
        </li>
        <li class="cards_item">
            <div class="card">
                <div class="card_image"><img src="../../assets/harry-potter-cake-pops.jpg"></div>
            </div>
            <button class="btn card_btn">Titre Recette</button>

        </li>
        <li class="cards_item">
            <div class="card">
                <div class="card_image"><img src="../../assets/harry-potter-canary-creams.jpg"></div>
            </div>
            <button class="btn card_btn">Titre Recette</button>
        </li>
        <li class="cards_item">
            <div class="card">
                <div class="card_image"><img src="../../assets/harry-potter-pretzels.jpg"></div>
            </div>
            <button class="btn card_btn">Titre Recette</button>
        </li>
        <li class="cards_item">
            <div class="card">
                <div class="card_image"><img src="../../assets/harry-potter-golden-snitch-pops.png"></div>
            </div>
            <button class="btn card_btn">Titre Recette</button>
        </li>
        <li class="cards_item">
            <div class="card">
                <div class="card_image"><img src="../../assets/harry-potter-muffin.jpeg"></div>
            </div>
            <button class="btn card_btn">Titre Recette</button>
        </li>
        <li class="cards_item">
            <div class="card">
                <div class="card_image"><img src="../../assets/harry-potter-pancakes.jpg"></div>
            </div>
            <button class="btn card_btn">Titre Recette</button>
        </li>
        <li class="cards_item">
            <div class="card">
                <div class="card_image"><img src="../../assets/harry-potter-pasties.jpg"></div>
            </div>
            <button class="btn card_btn">Titre Recette</button>

        </li>
        <li class="cards_item">
            <div class="card">
                <div class="card_image"><img src="../../assets/harry-potter-roll.jpg"></div>
            </div>
            <button class="btn card_btn">Titre Recette</button>
        </li>
        <li class="cards_item">
            <div class="card">
                <div class="card_image"><img src="../../assets/harry-potter-fruit-salad.jpg"></div>
            </div>
            <button class="btn card_btn">Titre Recette</button>
        </li>
    </ul>
</div>
<footer>
    <div class="footer-inner">

        <section class="footer-item">
            <h3>Explore</h3>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Capabilities</a></li>
                <li><a href="#">Careers</a></li>
            </ul>
        </section>

        <section class="footer-item">
            <h3>Visit</h3>
            <a href="#">
                <p>Envoy So. California</p>
                <p>34 Tesla, Ste 100</p>
                <p>Irvine, Ca, USA 92618</p>
            </a>

        </section>

        <section class="footer-item">
            <h3>New Business</h3>
            <p><a href="#">Email us</a></p>
            <p><a href="#">949.333.3106</a></p>
        </section>
    </div>
</footer>