<div class="login-container">
  <div [formGroup]="formLogin" (ngSubmit)="login()" *ngIf="!userLogged">
    <div>
      <input class="user-name_input" type="text" placeholder="nom" formControlName="username" />
    </div>
    <div>
      <input class="mdp_input" type="password" placeholder="mot de passe" formControlName="password" />
    </div>
    <div>
      <button class="login_btn" type="submit">Se connecter</button>
    </div>
  </div>

  <button type="button" (click)="logout()" *ngIf="userLogged">Déconnecter</button>
</div>