:root{
  
  --main-color-light: #7B61F8;
  --link-color-light: #7a61f8a8;
  --bg-color-dark: #1d1e1f;
  --main-color-naruto : #F85125;
  --link-color-naruto : #f853259f;
  --main-color-harrypotter : #c30046;
  --link-color-harrypotter: #c30048af;
  --main-color-disney : #12c4e3;
  --link-color-disney : #12c4e3af;
  --main-color-marvel : #e53935;
  --link-color-marvel: #e53835c7; 
}

body {
    margin: 0!important;
    background-color: #ffff; 
    cursor:pointer; 
}

body.dark{
  background-color: var(--bg-color-dark);
}
.bg-light-modal{  
  background-color: #FFFFFF;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.bg-light_search-modal {
  background-color: white;
}
.bg-dark-modal{
  background-color: #28282B;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.bg-dark_search-modal{
  background-color: var(--bg-color-dark);
}
.recipe-card{
   background-color: transparent;
  
}
.card-bg{ 
  background-color: transparent;
}

.sd-light {
  background-color: #FFFFFF;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.sd-dark {
  background-color: #28282B;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  
}

.bgColorMarvel {
  background-color: #d32f2f;
}

.bgColorNaruto {
  background-color: #f85325d8;
}
.bgColorLight {
  background-color: #745bf1b7;
}
.bgColorDisney {
  background-color: #10b9d6;
}
.bgColorHarryPotter {
  background-color: #ab003d;
}

.toggle-dark {
  background-color: var(--bg-color-dark);
}

.toggle-light {
  background-color:white;
}

.utensils-light{
  background-color: #DCDCDC;
}

.utensils-dark {
  background-color: #28282B;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;;
}