<app-univers></app-univers>
<!--<div class="main-cards-container" *ngIf="isFromUniverse">

    <ul class="cards">
        <li class="cards_item" *ngFor="let recette of recettes">
            <a routerLink="/disney/recette/{{recette.id}}">
                <div class="card">
                    <div class="card_image"><img src="../../assets/disney-frozen-cupcakes.jpg"></div>
                </div>
                <button class="btn card_btn">{{recette.nom}}</button>
            </a>
        </li>
        <li class="cards_item">
            <div class="card">
                <div class="card_image"><img src="../../assets/disney-frozen-cupcakes.jpg"></div>
            </div>
            <button class="btn card_btn">Titre Recette</button>
        </li>
        <li class="cards_item">
            <div class="card">
                <div class="card_image"><img src="../../assets/disney-mickey-cookie-dough.jpg"></div>
            </div>
            <button class="btn card_btn">Titre Recette</button>
        </li>
        <li class="cards_item">
            <div class="card">
                <div class="card_image"><img src="../../assets/disney-cinderella-cookies.jpg"></div>
            </div>
            <button class="btn card_btn">Titre Recette</button>
        </li>
        <li class="cards_item">
            <div class="card">
                <div class="card_image"><img src="../../assets/disney-princess-and-the-frog-beignets.png"></div>
            </div>
            <button class=" btn card_btn">Titre Recette</button>

        </li>
        <li class="cards_item">
            <div class="card">
                <div class="card_image"><img src="../../assets/disney-baby-yoda-pie.jpg"></div>
            </div>
            <button class="btn card_btn">Tarte Baby Yoda</button>
        </li>
        <li class="cards_item">
            <div class="card">
                <div class="card_image"><img src="../../assets/disney-bb8-quesadillas.jpg"></div>
            </div>
            <button class="btn card_btn">Titre Recette</button>
        </li>
        <li class="cards_item">
            <div class="card">
                <div class="card_image"><img src="../../assets/disney-c3po-ice-cream-sandwich.jpg"></div>
            </div>
            <button class="btn card_btn">Titre Recette</button>
        </li>
        <li class="cards_item">
            <div class="card">
                <div class="card_image"><img src="../../assets/disney-stormtrooper-cheese-ball.jpg"></div>
            </div>
            <button class="btn card_btn">Titre Recette</button>
        </li>
        <li class="cards_item">
            <div class="card">
                <div class="card_image"><img src="../../assets/disney-monsters-inc-green-smoothie.jpg"></div>
            </div>
            <button class="btn card_btn">Titre Recette</button>
        </li>
        <li class="cards_item">
            <div class="card">
                <div class="card_image"><img src="../../assets/disney-breakfast-rapunzel.jpg"></div>
            </div>
            <button class="btn card_btn">Titre Recette</button>

        </li>
        <li class="cards_item">
            <div class="card">
                <div class="card_image"><img src="../../assets/disney-sleeping-beauty-cake.jpeg"></div>
            </div>
            <button class="btn card_btn">Titre Recette</button>
        </li>
        <li class="cards_item">
            <div class="card">
                <div class="card_image"><img src="../../assets/disney-little-mermaid-clam-shells.jpg"></div>
            </div>
            <button class="btn card_btn">Titre Recette</button>
        </li>
    </ul>
</div>-->