<div>
    <div class="title-container">
        <h2 class="title-users-recipes">Créations de la semaine</h2>
        <img class="title_icon" src="../../assets/img/heart.png" />
        <p class="tags_users_recipes">#MonstresEtCie #StarWars #Batman #Mickey </p>
    </div>
    <div class="container-users-recipes">
        <div class="panel panel_active panel_0"></div>
        <div class="panel panel_1"></div>
        <div class="panel panel_2"></div>
        <div class="panel panel_3"></div>

    </div>
    <div class="title_container_duo">
        <p class="tags_duo">#Naruto #HarryPotter #Ramen #Bière </p>
        <h2 class="title-users-recipes title_duo">Le duo du jour</h2>
        <img class="duo_icon" src="../../assets/img/two.png" />
    </div>
    <div class="recipes-home">
        <div class="recipe" *ngFor="let recipe of recettes">
            <a routerLink="/{{recipe.univers | lowercase}}/recette/{{recipe.id}}">
                <img class="daily_recipe" [src]="getImage(recipe.photo)" />
            </a>
        </div>
    </div>

    <div class="title_container_universe">
        <h2 class="title-universe">Nos univers</h2>
        <img class="universe_icon" src="../../assets/img/universe.png" />
        <p class="tags_universe">#Disney #Naruto #Marvel #HarryPotter #WorldOfWarCraft #BackToTheFuture</p>
    </div>

    <div class="main-container">
        <div class=" cards-list">
            <div class="card card_1">
                <div class="card_image gif_1" (click)="btnClickDisney()"></div>
            </div>
            <div class="card card_2">
                <div class="card_image gif_2" (click)="btnClickNaruto()"></div>
            </div>
            <div class=" card card_3">
                <div class="card_image gif_3" (click)="btnClickMarvel()"></div>
            </div>
            <div class=" card card_3">
                <div class="card_image gif_4" (click)="btnClickHarryPotter()"></div>
            </div>
            <div class="card card_3">
                <div class="card_image gif_5"></div>
            </div>
            <div class="card card_3">
                <div class="card_image gif_6"></div>
            </div>
        </div>
    </div>