<div class="header-container">

    <div class="navmenu">
        <div class="menubar">
            <div class="openmenu" id="openmenu">
                <img class="hamburger-icon" src="../../assets/burger-naruto.png" />
            </div>
        </div>

    </div>


    <div class="navmodal" id="navmodal">
        <div class="container">
            <div class="closemenu" id="closemenu">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30">
                    <path fill="#F85125" fill-rule="evenodd"
                        d="M17.778.808l1.414 1.414L11.414 10l7.778 7.778-1.414 1.414L10 11.414l-7.778 7.778-1.414-1.414L8.586 10 .808 2.222 2.222.808 10 8.586 17.778.808z" />
                </svg>
            </div>
            <div class="navmodal-wrapper">
                <div class="column">
                    <h4 class="subtitle">Category Menu</h4>
                    <ul class="menu">
                        <li class="menu-item"><a href="#" class="menu-link">Category Menu Item</a></li>
                        <li class="menu-item"><a href="#" class="menu-link">Category Menu Item</a></li>
                        <li class="menu-item"><a href="#" class="menu-link">Category Menu Item</a></li>
                        <li class="menu-item"><a href="#" class="menu-link">Category Menu Item</a></li>
                        <li class="menu-item"><a href="#" class="menu-link">Category Menu Item</a></li>
                        <li class="menu-item"><a href="#" class="menu-link">Category Menu Item</a></li>
                    </ul>
                </div>
                <div class="column">
                    <h4 class="subtitle">Category Menu</h4>
                    <ul class="menu">
                        <li class="menu-item"><a href="#" class="menu-link">Category Menu Item</a></li>
                        <li class="menu-item"><a href="#" class="menu-link">Category Menu Item</a></li>
                        <li class="menu-item"><a href="#" class="menu-link">Category Menu Item</a></li>
                        <li class="menu-item"><a href="#" class="menu-link">Category Menu Item</a></li>
                        <li class="menu-item"><a href="#" class="menu-link">Category Menu Item</a></li>
                        <li class="menu-item"><a href="#" class="menu-link">Category Menu Item</a></li>
                    </ul>
                </div>
                <div class="column">
                    <h4 class="subtitle">Category Menu</h4>
                    <ul class="menu">
                        <li class="menu-item"><a href="#" class="menu-link">Category Menu Item</a></li>
                        <li class="menu-item"><a href="#" class="menu-link">Category Menu Item</a></li>
                        <li class="menu-item"><a href="#" class="menu-link">Category Menu Item</a></li>
                        <li class="menu-item"><a href="#" class="menu-link">Category Menu Item</a></li>
                        <li class="menu-item"><a href="#" class="menu-link">Category Menu Item</a></li>
                        <li class="menu-item"><a href="#" class="menu-link">Category Menu Item</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>


    <h1 (click)="btnClickHome()">Fan'Tasty</h1>

    <div class="search">
        <div>
            <input type="text" placeholder="Yummy . . ." required>
        </div>
    </div>
</div>

<div class="login">
    <button class="login-btn" (click)="btnClickHome()">
        <img class="home-btn-img" src="../../assets/home-orange.png" />
    </button>
    <button class="login-btn">
        <img class="login-btn-icon" src="../../assets/login-naruto.png" />
    </button>
</div>

<div class="top-container">
    <h3 class="title-top-container">Recettes de saison</h3>
    <img class="icon-top-container" src="../assets/recipe-book-orange.png" />
    <h3 class="title-top-container">Recette Random</h3>
    <img class="icon-top-container" src="../assets/dice-orange.png" />
    <h3 class="title-top-container">Concours</h3>
    <img class="icon-top-container" src="../assets/concours-orange.png" />
    <h3 class="title-top-container">Light/Dark</h3>
    <input type="checkbox" class="switch" id="example" />
    <label for="example"></label>
</div>

<hr class="hline_color">
<div class="main-cards-container">

    <ul class="cards">
        <li class="cards_item">
            <div class="card">
                <div class="card_image"><img src="../../assets/viande-naruto.jpg"></div>
            </div>
            <button class="btn card_btn">Titre Recette</button>
        </li>
        <li class="cards_item">
            <div class="card">
                <div class="card_image"><img src="../../assets/itachi-bento.jpeg"></div>
            </div>
            <button class="btn card_btn">Titre Recette</button>
        </li>
        <li class="cards_item">
            <div class="card">
                <div class="card_image"><img src="../../assets/boruto-bento.jpg"></div>
            </div>
            <button class="btn card_btn">Titre Recette</button>
        </li>
        <li class="cards_item">
            <div class="card">
                <div class="card_image"><img src="../../assets/naruto-dango-mochi.jpg"></div>
            </div>
            <button class="btn card_btn">Titre Recette</button>

        </li>
        <li class="cards_item">
            <div class="card">
                <div class="card_image"><img src="../../assets/ramen.jpg"></div>
            </div>
            <button class="btn card_btn">Titre Recette</button>
        </li>
        <li class="cards_item">
            <div class="card">
                <div class="card_image"><img src="../../assets/naruto-maki.jpg"></div>
            </div>
            <button class="btn card_btn">Titre Recette</button>
        </li>
        <li class="cards_item">
            <div class="card">
                <div class="card_image"><img src="../../assets/Narutomaki.jpeg"></div>
            </div>
            <button class="btn card_btn">Titre Recette</button>
        </li>
        <li class="cards_item">
            <div class="card">
                <div class="card_image"><img src="../../assets/Dipping-Noodles-naruto.jpg"></div>
            </div>
            <button class="btn card_btn">Titre Recette</button>
        </li>
        <li class="cards_item">
            <div class="card">
                <div class="card_image"><img src="../../assets/naruto-bento.jpg"></div>
            </div>
            <button class="btn card_btn">Titre Recette</button>
        </li>
        <li class="cards_item">
            <div class="card">
                <div class="card_image"><img src="../../assets/naruto-pates.jpeg"></div>
            </div>
            <button class="btn card_btn">Titre Recette</button>

        </li>
        <li class="cards_item">
            <div class="card">
                <div class="card_image"><img src="../../assets/naruto-salade.jpeg"></div>
            </div>
            <button class="btn card_btn">Titre Recette</button>
        </li>
        <li class="cards_item">
            <div class="card">
                <div class="card_image"><img src="../../assets/sasuke-bento.jpeg"></div>
            </div>
            <button class="btn card_btn">Titre Recette</button>
        </li>
    </ul>
</div>
<footer>
    <div class="footer-inner">

        <section class="footer-item">
            <h3>Explore</h3>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Capabilities</a></li>
                <li><a href="#">Careers</a></li>
            </ul>
        </section>

        <section class="footer-item">
            <h3>Visit</h3>
            <a href="#">
                <p>Envoy So. California</p>
                <p>34 Tesla, Ste 100</p>
                <p>Irvine, Ca, USA 92618</p>
            </a>

        </section>

        <section class="footer-item">
            <h3>New Business</h3>
            <p><a href="#">Email us</a></p>
            <p><a href="#">949.333.3106</a></p>
        </section>
    </div>
</footer>