<!--
<app-home></app-home>
-->

<!--
<app-home-light></app-home-light>

-->
<div class="header-container">

    <div class="navmenu">
        <div class="menubar">
            <span class="openmenu" id="openmenu">
                <img class="hamburger-icon" src="../../assets/hamburger.png" />
            </span>
        </div>

    </div>


    <section class="navmodal" id="navmodal">
        <div class="container">
            <span class="closemenu" id="closemenu">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30">
                    <path fill="#7B61F8" fill-rule="evenodd"
                        d="M17.778.808l1.414 1.414L11.414 10l7.778 7.778-1.414 1.414L10 11.414l-7.778 7.778-1.414-1.414L8.586 10 .808 2.222 2.222.808 10 8.586 17.778.808z" />
                </svg>
            </span>
            <div class="navmodal-wrapper">
                <div class="column">
                    <h4 class="subtitle">Category Menu</h4>
                    <ul class="menu">
                        <li class="menu-item"><a href="#" class="menu-link">Category Menu Item</a></li>
                        <li class="menu-item"><a href="#" class="menu-link">Category Menu Item</a></li>
                        <li class="menu-item"><a href="#" class="menu-link">Category Menu Item</a></li>
                        <li class="menu-item"><a href="#" class="menu-link">Category Menu Item</a></li>
                        <li class="menu-item"><a href="#" class="menu-link">Category Menu Item</a></li>
                        <li class="menu-item"><a href="#" class="menu-link">Category Menu Item</a></li>
                    </ul>
                </div>
                <div class="column">
                    <h4 class="subtitle">Category Menu</h4>
                    <ul class="menu">
                        <li class="menu-item"><a href="#" class="menu-link">Category Menu Item</a></li>
                        <li class="menu-item"><a href="#" class="menu-link">Category Menu Item</a></li>
                        <li class="menu-item"><a href="#" class="menu-link">Category Menu Item</a></li>
                        <li class="menu-item"><a href="#" class="menu-link">Category Menu Item</a></li>
                        <li class="menu-item"><a href="#" class="menu-link">Category Menu Item</a></li>
                        <li class="menu-item"><a href="#" class="menu-link">Category Menu Item</a></li>
                    </ul>
                </div>
                <div class="column">
                    <h4 class="subtitle">Category Menu</h4>
                    <ul class="menu">
                        <li class="menu-item"><a href="#" class="menu-link">Category Menu Item</a></li>
                        <li class="menu-item"><a href="#" class="menu-link">Category Menu Item</a></li>
                        <li class="menu-item"><a href="#" class="menu-link">Category Menu Item</a></li>
                        <li class="menu-item"><a href="#" class="menu-link">Category Menu Item</a></li>
                        <li class="menu-item"><a href="#" class="menu-link">Category Menu Item</a></li>
                        <li class="menu-item"><a href="#" class="menu-link">Category Menu Item</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </section>


    <h1>Fan'Tasty</h1>

    <div class="search">
        <div>
            <input type="text" placeholder="Yummy . . ." required>
        </div>
    </div>
</div>

<div class="login">
    <button class="login-btn">
        <img class="home-btn-img" src="../../assets/home.png" />
    </button>
    <button class="login-btn">
        <img class="login-btn-img" src="../../assets/login.png" />
    </button>
</div>

<!--

<app-univers-template></app-univers-template>

-->
<div class="top-container">
    <h3 class="title-top-container">Recettes de saison</h3>
    <img class="icon-top-container" src="../assets/recipe-book.png" />
    <h3 class="title-top-container">Recette Random</h3>
    <img class="icon-top-container" src="../assets/dice.png" />
    <h3 class="title-top-container">Concours</h3>
    <img class="icon-top-container" src="../assets/concours.png" />
    <h3 class="title-top-container">Light/Dark</h3>
    <input type="checkbox" class="switch" id="example" />
    <label for="example"></label>
</div>

<hr class="hline_color">
<app-home-light></app-home-light>

<footer>
    <div class="footer-inner">

        <section class="footer-item">
            <h3>Explore</h3>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Capabilities</a></li>
                <li><a href="#">Careers</a></li>
            </ul>
        </section>

        <section class="footer-item">
            <h3>Visit</h3>
            <a href="#">
                <p>Envoy So. California</p>
                <p>34 Tesla, Ste 100</p>
                <p>Irvine, Ca, USA 92618</p>
            </a>

        </section>

        <section class="footer-item">
            <h3>New Business</h3>
            <p><a href="#">Email us</a></p>
            <p><a href="#">949.333.3106</a></p>
        </section>
    </div>
</footer>