<div class="main-cards-container">

    <ul class="cards">
        <li class="cards_item">
            <div class="card">
                <div class="card_image"><img src="../../assets/disney-frozen-cupcakes.jpg"></div>
            </div>
            <button class="btn card_btn">Titre Recette</button>
        </li>
        <li class="cards_item">
            <div class="card">
                <div class="card_image"><img src="../../assets/disney-mickey-cookie-dough.jpg"></div>
            </div>
            <button class="btn card_btn">Titre Recette</button>
        </li>
        <li class="cards_item">
            <div class="card">
                <div class="card_image"><img src="../../assets/disney-cinderella-cookies.jpg"></div>
            </div>
            <button class="btn card_btn">Titre Recette</button>
        </li>
        <li class="cards_item">
            <div class="card">
                <div class="card_image"><img src="../../assets/disney-princess-and-the-frog-beignets.png"></div>
            </div>
            <button class=" btn card_btn">Titre Recette</button>

        </li>
        <li class="cards_item">
            <div class="card">
                <div class="card_image"><img src="../../assets/disney-baby-yoda-pie.jpg"></div>
            </div>
            <button class="btn card_btn">Tarte Baby Yoda</button>
        </li>
        <li class="cards_item">
            <div class="card">
                <div class="card_image"><img src="../../assets/disney-bb8-quesadillas.jpg"></div>
            </div>
            <button class="btn card_btn">Titre Recette</button>
        </li>
        <li class="cards_item">
            <div class="card">
                <div class="card_image"><img src="../../assets/disney-c3po-ice-cream-sandwich.jpg"></div>
            </div>
            <button class="btn card_btn">Titre Recette</button>
        </li>
        <li class="cards_item">
            <div class="card">
                <div class="card_image"><img src="../../assets/disney-stormtrooper-cheese-ball.jpg"></div>
            </div>
            <button class="btn card_btn">Titre Recette</button>
        </li>
        <li class="cards_item">
            <div class="card">
                <div class="card_image"><img src="../../assets/disney-monsters-inc-green-smoothie.jpg"></div>
            </div>
            <button class="btn card_btn">Titre Recette</button>
        </li>
        <li class="cards_item">
            <div class="card">
                <div class="card_image"><img src="../../assets/disney-breakfast-rapunzel.jpg"></div>
            </div>
            <button class="btn card_btn">Titre Recette</button>

        </li>
        <li class="cards_item">
            <div class="card">
                <div class="card_image"><img src="../../assets/disney-sleeping-beauty-cake.jpeg"></div>
            </div>
            <button class="btn card_btn">Titre Recette</button>
        </li>
        <li class="cards_item">
            <div class="card">
                <div class="card_image"><img src="../../assets/disney-little-mermaid-clam-shells.jpg"></div>
            </div>
            <button class="btn card_btn">Titre Recette</button>
        </li>
    </ul>
</div>
<footer>
    <div class="footer-inner">

        <section class="footer-item">
            <h3>Explore</h3>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Capabilities</a></li>
                <li><a href="#">Careers</a></li>
            </ul>
        </section>

        <section class="footer-item">
            <h3>Visit</h3>
            <a href="#">
                <p>Envoy So. California</p>
                <p>34 Tesla, Ste 100</p>
                <p>Irvine, Ca, USA 92618</p>
            </a>

        </section>

        <section class="footer-item">
            <h3>New Business</h3>
            <p><a href="#">Email us</a></p>
            <p><a href="#">949.333.3106</a></p>
        </section>
    </div>
</footer>