
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
    
    background-color: #151515;
}

.title-container{
  margin-left: 195px;
  display:flex;
  flex-direction: row;
  justify-content: left;
  width: 100%;
  height: 100%;
  align-items: center;
}
.title-users-recipes{
  
  margin-bottom: 0;
  font-size: 26px;
  font-weight:unset;
  color: var(--main-color-light);
  font-family: 'Bebas Neue', cursive;

}
.title_container_duo{
  margin-left: 450px;
  display:flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;
  align-items: center;
}
.title_duo{
  font-size: 26px;
  font-weight:unset;
}
.tags_users_recipes{
  margin-top:35px;
  margin-left:8px;
  font-size: 16px;
  color: var(--main-color-light);
  font-family: 'Encode Sans Expanded', sans-serif;
}
.tags_duo{
  margin-top:35px;
  margin-left:-300px;
  margin-right: 8px;;
  font-size: 16px;
  color: var(--main-color-light);
  font-family: 'Encode Sans Expanded', sans-serif;
}
.title_icon{
  margin-top:20px;
  margin-left: 8px;;
  width: 26px;
  height: 26px;
}
.container-users-recipes{
    margin-top:10px;
    display:flex;
    justify-content: center;
    width:100%;
}

.panel{  
    margin: 10px;
    border-radius: 30px;
    width: 168px;
    height: 320px;
    position:relative;
    transition:flex 0.7s ease-in;
    border: 2.5px solid var(--main-color-light);
}
.panel_0{
  background-image: url(../../assets/mike-wazowski-recipe.jpg);
  background-repeat: no-repeat;
  background-position:center;
}
.panel_1{
  background-image: url(../../assets/star-wars-marshmallows.jpg);
  background-repeat: no-repeat;
  background-position: center;

}
.panel_2{
  background-image: url(../../assets/batman-cake.jpg);
  background-repeat: no-repeat;
  background-position: center;

}
.panel_3{
  background-image: url( ../../assets/mickey-waffles.jpg);
  background-repeat: no-repeat;
  background-position: center;

}
.panel:hover{
  box-shadow: 0 0 23px var(--main-color-light),
              0 0 23px var(--main-color-light);
}

.panel_active{
    flex:0.6;
}
.panel_active h3{
    opacity:1;
    transition:opacity 0.3s ease-in 0.4s;
}

@media (max-width:480px){
    .container{
        width:100vw; 
    }
    .panel:nth-of-type(4),.panel:nth-of-type(5){
        display:none;
    }
}

.main-container{
  display: flex;
  box-sizing:border-box;
  width: 100%;
  margin: 0;
}

.recipes-home {
  display: flex;
  justify-content: center;
}

.recipe{
  margin: 0 10px 0 10px;
  width: 550px;
  height: 320px;
  border-radius: 40px;
  border: 2.5px solid var(--main-color-light);
}
.recipe_1{
  background-image: url(../../assets/superman-pizza.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.recipe_2{
  
  background-image: url(../../assets/superhero-cupcakes.jpg);
  background-repeat: no-repeat;
  background-position:top;
}
.recipe:hover{
  box-shadow: 0 0 23px var(--main-color-light),
              0 0 23px var(--main-color-light);
}

.cards-list {
  margin-top: 80px;
  z-index: 0;
  width: 100%;
  display: flex;  
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  margin: 10px;
  width: 355px;
  height: 240px;
  border-radius: 40px;
  border: 2.5px solid var(--main-color-light);
}

.card .card_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

.card .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
}

.card:hover {
  box-shadow: 0 0 23px var(--main-color-light),
              0 0 23px var(--main-color-light);
}
.gif_1{
  background-image: url("../../assets/walt-disney.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
}
.gif_1:hover{
  background-image: url("https://media.giphy.com/media/42ZPYptEGgxaM/giphy.gif");
}
.gif_2{
  background-image: url(../../assets/naruto.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
}
.gif_2:hover{
  background-image: url("https://64.media.tumblr.com/05e0e8b044615ef489489b74d03d3b44/tumblr_nm7eoliv5J1qj5jqso1_500.gifv");
}
.gif_3{
  background-image: url(../../assets/marvel.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
}
.gif_3:hover{
  background-image: url("https://media.giphy.com/media/vBjLa5DQwwxbi/giphy.gif");
}
.gif_4{
  background-image: url(../../assets/harry-potter.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.gif_4:hover{
  background-image: url("https://img.wattpad.com/c26f32faafd3f46ff7035d673c280d61f559abd3/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f776174747061642d6d656469612d736572766963652f53746f7279496d6167652f452d2d68306e5a487471364d4b513d3d2d3339373035373832332e313462343762323762376465343834663439323435303232313230342e676966");
}
.gif_5{
  background-image: url("../../assets/wow.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.gif_5:hover{
  background-image: url("../../assets/wow.gif");
}
.gif_6{
  background-image: url("../../assets/back-to-the-future.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.gif_6:hover{
  background-image: url("../../assets/back-to-the-future.gif");
}


@media all and (max-width: 500px) {
  .card-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
  ;.recipes-container {
      flex-direction: column;
  }
}

