
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
  background-color: #1d1e1f;
}

a,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #e6e6e6;
  box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.12);
}

.container {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 5px;
}

.openmenu {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
}

.closemenu {
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
}
.style-svg{
  width: 35px;
  height: 20px;
}


.title {
  font-family: inherit;
  line-height: inherit;
  text-transform: capitalize;
  text-rendering: optimizeLegibility;
}


.subtitle {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 700;
  line-height: inherit;
  margin: 0;
  color: var(--main-color-dark);
  text-transform: capitalize;
  text-rendering: optimizeLegibility;
}

.navmenu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
}

.navmodal {
  position: absolute;
  margin-top: 65px;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 60%;
  overflow-y: auto;
  overflow-x: hidden;
  border: none;
  outline: none;
  background: #181A18;
  transform: translateY(-1600px);
  transition: transform 0.5s ease-in-out;
  border-radius: 30px;
  font-family: 'Encode Sans', sans-serif;
  color: var(--main-color-dark);
}
.navmodal.active {
  position: fixed;
  overflow-y: scroll;
  transform: translateY(0);
}
.navmodal-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row wrap;
  align-items: flex-start;
  width: 100%;
  min-height: auto;
  padding: 5px;
}
@media only screen and (max-width: 768px) {
  .navmodal-wrapper {
    padding: 5px;
  }
  .navmodal{
    height: 70%;
  }
}
.navmodal-wrapper .column {
  flex: auto;
  flex-basis: 25%;
  width: 50px;
  height: auto;
}

.navmodal-wrapper .column .menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  list-style:none;
}
.navmodal-wrapper .column .menu-item {
  margin: 0.15rem 0;
}
.navmodal-wrapper .column .menu-link {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  line-height: inherit;  
  color: var(--main-color-dark);  
  text-transform: capitalize;
  text-rendering: optimizeLegibility;
}
 .menu-link:hover {
   text-shadow: 0 0 10px var(--main-color-dark),
              0 0 10px var(--main-color-dark);

}
@media only screen and (max-width: 1024px) {
  .navmodal-wrapper .column {
    flex-basis: 33.33%;
  }
}
@media only screen and (max-width: 768px) {
  .navmodal-wrapper .column {
    flex-basis: 50%;
  }
}
@media only screen and (max-width: 425px) {
  .navmodal-wrapper .column {
    flex-basis: 100%;
  }
}

.header-container{
    display: inline-flex;
    justify-content: space-evenly;
    
}

h1 {
    position: relative;
    margin: 0;
    padding:0;
    font-family: 'Bebas Neue', cursive;
    font-weight: 100;
    font-size: 45px;
    color: var(--main-color-dark);
}


.search > div {
  display: inline-block;
  position: relative;
  padding: 0;
}

.search > div:after {
  content: "";
  background: var(--main-color-dark);
  width: 2px;
  height: 14px;
  position: absolute;
  top: 40px;
  right: 12px;
  transform: rotate(145deg);
}

.search > div > input {
  color: #7a61f8ab;
  font-size: 18px;
  font-family: 'Encode Sans', sans-serif;
  background: transparent;
  width: 12px;
  height: 12px;
  margin:9px;
  padding: 10px;
  border: solid 2.5px var(--main-color-dark);
  outline: none;
  border-radius: 35px;
  transition: width 0.5s;
}

.search > div > input::placeholder {
  color: var(--main-color-dark)e7;
  opacity: 0;
  transition: opacity 150ms ease-out;
}

.search > div > input:focus::placeholder {
  opacity: 1;
}

.search > div > input:focus,
.search > div > input:not(:placeholder-shown) {
  width: 250px;
}

.login{
    display: flex;
    float: right;
}
.login-btn-img{
  background-color: transparent;
  width: 45px;
}
.title-container{
  margin-left: 220px;
  display:flex;
  flex-direction: row;
  justify-content: left;
  width: 100%;
  height: 100%;
  align-items: center;
}
.title-users-recipes{
  
  margin-bottom: 0;
  font-size: 24px;
  color: var(--main-color-dark);
  font-family: 'Bebas Neue', cursive;

}
.title_container_duo{
  margin-left: 450px;
  display:flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;
  align-items: center;
}

.tags_users_recipes{
  margin-top:48px;
  margin-left:8px;
  font-size: 16px;
  color: var(--main-color-dark);
  font-family: 'Encode Sans Expanded', sans-serif;
}
.title_icon{
  margin-top:32px;
  margin-left: 10px;;
  width: 26px;
  height: 26px;
}
.container-users-recipes{
    margin-top:10px;
    display:flex;
    justify-content: center;
    width:100%;
}

.panel{  
    border-radius: 30px;
    width: 210px;
    height: 310px;
    position:relative;
    transition:flex 0.7s ease-in;
    cursor: pointer;
    border: 2.5px solid var(--main-color-dark);
}
.panel_0{
  background-image: url(../../assets/mike-wazowski-recipe.jpg);
  background-repeat: no-repeat;
  background-position:center;
}
.panel_1{
  background-image: url(../../assets/star-wars-marshmallows.jpg);
  background-repeat: no-repeat;
  background-position: center;

}
.panel_2{
  background-image: url(../../assets/batman-cake.jpg);
  background-repeat: no-repeat;
  background-position: center;

}
.panel_3{
  background-image: url( ../../assets/mickey-waffles.jpg);
  background-repeat: no-repeat;
  background-position: center;

}
.panel:hover{
  box-shadow: 0 0 23px var(--main-color-dark),
              0 0 23px var(--main-color-dark);
}

.panel_active{
    flex:0.5;
}
.panel_active h3{
    opacity:1;
    transition:opacity 0.3s ease-in 0.4s;
}

@media (max-width:480px){
    .container{
        width:100vw; 
    }
    .panel:nth-of-type(4),.panel:nth-of-type(5){
        display:none;
    }
}

.main-container{
  display: flex;
  box-sizing:border-box;
  width: 100%;
  margin: 0;
}
.title_duo{
  font-size: 24px;
}

.recipes-home {
  display: flex;
  justify-content: center;
}

.recipe{
  margin: 0 15px 0 15px;
  width: 520px;
  height: 310px;
  border-radius: 40px;
  cursor: pointer;
  border: 2.5px solid var(--main-color-dark);
}
.recipe_1{
  background-image: url(../../assets/superman-pizza.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.recipe_2{
  
  background-image: url(../../assets/superhero-cupcakes.jpg);
  background-repeat: no-repeat;
  background-position:top;
}
.recipe:hover{
  box-shadow: 0 0 23px var(--main-color-dark),
              0 0 23px var(--main-color-dark);
}

.cards-list {
  margin: 0;
  z-index: 0;
  width: 100%;
  display: flex;  
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  margin: 10px 15px 15px 15px;
  width: 240px;
  height: 480px;
  border-radius: 40px;
  cursor: pointer;
  border: 2.5px solid var(--main-color-dark);
}
.card_2 {
  margin-top: 35px;
}
.card_3{
  margin-top: 65px;
}
.card_4{
  margin-top: 95px;
}


.card .card_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

.card .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
}

.card .card_title {
  text-align: center;
  color: #09FBD3;
  border-radius: 0px 0px 40px 40px;
  font-family: 'Encode Sans', sans-serif;
  font-weight: lighter;
  font-size: 30px;
  font-stretch:wider;
  margin-top: -80px;
  height: 40px;
}

.card:hover {
  
  box-shadow: 0 0 23px var(--main-color-dark),
              0 0 23px var(--main-color-dark);
}

@media all and (max-width: 500px) {
  .card-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
  ;.recipes-container {
      flex-direction: column;
  }
}

footer {
    background-color: #7a61f8c5;
    font-family: "Lato", sans-serif;
    padding: 85px 0 15px 0;
}

.footer-inner {
  display: flex;
  justify-content: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
    position: relative;
}

.footer-item {
    float: left;
    margin: 0 7.2% 0 0;
}

.footer-item:nth-of-type(4) {
    display: none;
}

.footer-item:nth-of-type(7) {
    float: right;
    margin-right: 0;
}

.footer-button {
    color: white;
    position: relative;
    font-weight: 400;
    font-size: 16px;
    transition: 1s;
    transition-delay: .2s;
    padding: 14px;
}
  
.footer-button:after {
    content: "";
    position: absolute;
    top: 45px;
    right: 13px;
    background-color: white;
    height: 1px;
    width: 86px;
    transition: .6s;
}
  
.footer-button:hover {
    color: black;
    background-color: white;
}
  
.footer-button:hover:after {
    width: 112px;
    right: 0px;
}


  
h2 {
    font-weight: 300;
    line-height: 1.8;
    font-size: 13px;
    color: #d1d1d1;
    letter-spacing: 0.03em;
    padding: 15px 0 0 0;
}
  
.color {
    color: white;
    font-weight: 400;
}
  
h3 {
    font-weight: 400;
    font-size: 13px;
    color: white;
    margin: 0;
    padding-bottom: 9px;
    letter-spacing: 0.03em;
}

h3.desktop {
    padding-top: 30px;
}
  
ul {
    line-height: 1.8;
    list-style-type: none;
    padding: 0;
}
  
li {
    font-weight: 300;
    font-size: 13px;
    color: #d1d1d1;
    letter-spacing: 0.03em;
}
  
p {
    font-weight: 300;
    font-size: 13px;
    padding: 0;
    line-height: 1.8;
    letter-spacing: 0.03em;
}
  
a {
    text-decoration: none;
    color: #d1d1d1;
}
  
a:hover {
    color: white;
}
  
.desktop {
    display: auto;
}

.footer-inner:after {
    content: "Made with love by Fan'Tasty 2022";
    font-weight: 300;
    letter-spacing: 0.03em;
    font-size: 13px;
    color: #d1d1d1;
    position: absolute;
    top: 200px;
    clear: both;
    display: block;
}

@media (max-width: 1024px) {
  
footer {
    padding: 50px 0 5px 0 !important;
}

.footer-inner {
    padding-bottom: 10px;
    margin-bottom: 50px;
}

.footer-item {
    margin: 0 0 42px 0;
    width: 50%;
}

.footer-item:nth-of-type(1) {
    padding-bottom: 32px;
    float: none;
    width: 100%;
}

.footer-item:nth-of-type(2) {
    clear: both;
}

.footer-item:nth-of-type(4) {
    clear: both;
    display: block;
}

.footer-item:nth-of-type(6) {
    clear: both;
}

.footer-item:nth-of-type(7) {
    clear: both;
    float: left;
    margin: 20px 0 0 -13px;
}

.desktop {
    display: none;
}

.footer-inner:after {
    top: 260px;
}}

