<div class="header-container">
    <h1>Fan'Tasty</h1>

    <div class="search">
        <div>
            <input type="text" placeholder="Search . . ." required>
        </div>
    </div>

</div>

<div class="cards-list">

    <div class="card 1">
        <div class="card_image"> <img src="../../assets/mickey.jpg" /> </div>
        <div class="card_title title-white">
            <p>Disney</p>
        </div>
    </div>

    <div class="card 2">
        <div class="card_image">
            <img src="../../assets/star-wars.jpg" />
        </div>
        <div class="card_title title-white">
            <p>Stars Wars</p>
        </div>
    </div>

    <div class="card 3">
        <div class="card_image">
            <img src="../../assets/spock.jpg" />
        </div>
        <div class="card_title">
            <p>Star Trek</p>
        </div>
    </div>

    <div class="card 4">
        <div class="card_image">
            <img src="../../assets/batman.jpg" />
        </div>
        <div class="card_title title-black">
            <p>Batman</p>
        </div>
    </div>

</div>