<div class="header-container">
    <h1>Fan'Tasty</h1>

    <div class="search">
        <div>
            <input type="text" placeholder="Search . . ." required>
        </div>
    </div>

</div>

<div class="recipe-container">
    <div class="recipe recipe_one">

    </div>
    <div class="recipe recipe_two">

    </div>
    <div class="recipe recipe_three">

    </div>
    <div class="recipe recipe_four">

    </div>
    <div class="recipe recipe_five">

    </div>
    <div class="recipe recipe_six">

    </div>
    <div class="recipe recipe_seven">

    </div>
    <div class="recipe recipe_eight">


    </div>