<form [formGroup]="formMongo" (ngSubmit)="submit()">
  <select formControlName="universe" (change)="onChange(formMongo.get('universe')?.value)">
    <option value=""></option>
    <option value="marvel">Marvel</option>
    <option value="harrypotter">Harry Potter</option>
    <option value="disney">Disney</option>
    <option value="naruto">Naruto</option>
  </select>

  <select formControlName="recette">
    <option *ngFor="let recette of recettes" [ngValue]="recette">{{recette.nom}}</option>
  </select>

  <button type="button" (click)="setRecette()">select</button>

  <input type="text" value="{{selected?.nom}}" formControlName="name"/>

  <input type="text" placeholder="image à charger" value="{{selected?.photo}}" />

  <input type="file" formControlName="file" (change)="setNewPhoto()"/>

  <img [src]="'http://localhost:60599/Resources/'+selected?.photo" style="width: 300px; height: 300px;"/>

  <button type="submit">Mettre à jour</button>
</form>
