<form [formGroup]="createUserForm" (ngSubmit)="create()">
  <input type="text" formControlName="name" placeholder="prénom" />
  <input type="text" formControlName="lastname" placeholder="nom de famille" />
  <input type="email" formControlName="email" placeholder="adresse@email.fr" />
  <input type="password" formControlName="password" placeholder="mot de passe" />
  <input type="password" formControlName="confirmPassword" placeholder="confirmer mot de passe" />

  <button type="submit" [disabled]="!createUserForm.valid">Inscription</button>
</form>